In [ ]:
!pip install -q transformers accelerate bitsandbytes
!pip install -q datasets
!pip install -q evaluate

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.1/76.1 MB 22.9 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.0/84.0 kB 3.0 MB/s eta 0:00:00

In [ ]:
from transformers import AutoTokenizer, AutoModelForCausalLM
# Load model directly
model_name = "premai-io/prem-1B-SQL"

tokenizer = AutoTokenizer.from_pretrained(model_name)

model = AutoModelForCausalLM.from_pretrained(
    model_name,
    device_map="auto"  # Đưa mô hình lên GPU nếu có
)

tokenizer_config.json:   0%|          | 0.00/5.49k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.37M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/462 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/794 [00:00<?, ?B/s]

model.safetensors.index.json:   0%|          | 0.00/18.0k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/2 [00:00<?, ?it/s]

model-00001-of-00002.safetensors:   0%|          | 0.00/4.99G [00:00<?, ?B/s]

model-00002-of-00002.safetensors:   0%|          | 0.00/400M [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

generation_config.json:   0%|          | 0.00/119 [00:00<?, ?B/s]

In [ ]:
import torch

device = "cuda" if torch.cuda.is_available() else "cpu"

In [ ]:
from datasets import load_dataset

# Tải bộ dữ liệu từ Hugging Face
dataset = load_dataset("gretelai/synthetic_text_to_sql")

# Truy cập phần train và test
train_data = dataset['train']
test_data = dataset['test']

# In 2 mẫu đại diện dưới dạng JSON từ phần train và test
import json

# Lấy 2 mẫu đầu tiên từ phần train và test
train_sample = train_data[0]
test_sample = test_data[0]

# In dưới dạng JSON
print("Train Sample:", json.dumps(train_sample, indent=2))
print("Test Sample:", json.dumps(test_sample, indent=2))

README.md:   0%|          | 0.00/8.18k [00:00<?, ?B/s]

(…)nthetic_text_to_sql_train.snappy.parquet:   0%|          | 0.00/32.4M [00:00<?, ?B/s]

(…)ynthetic_text_to_sql_test.snappy.parquet:   0%|          | 0.00/1.90M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/100000 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/5851 [00:00<?, ? examples/s]

Train Sample: {
  "id": 5097,
  "domain": "forestry",
  "domain_description": "Comprehensive data on sustainable forest management, timber production, wildlife habitat, and carbon sequestration in forestry.",
  "sql_complexity": "single join",
  "sql_complexity_description": "only one join (specify inner, outer, cross)",
  "sql_task_type": "analytics and reporting",
  "sql_task_type_description": "generating reports, dashboards, and analytical insights",
  "sql_prompt": "What is the total volume of timber sold by each salesperson, sorted by salesperson?",
  "sql_context": "CREATE TABLE salesperson (salesperson_id INT, name TEXT, region TEXT); INSERT INTO salesperson (salesperson_id, name, region) VALUES (1, 'John Doe', 'North'), (2, 'Jane Smith', 'South'); CREATE TABLE timber_sales (sales_id INT, salesperson_id INT, volume REAL, sale_date DATE); INSERT INTO timber_sales (sales_id, salesperson_id, volume, sale_date) VALUES (1, 1, 120, '2021-01-01'), (2, 1, 150, '2021-02-01'), (3, 2, 180, '2021-01-01');",
  "sql": "SELECT salesperson_id, name, SUM(volume) as total_volume FROM timber_sales JOIN salesperson ON timber_sales.salesperson_id = salesperson.salesperson_id GROUP BY salesperson_id, name ORDER BY total_volume DESC;",
  "sql_explanation": "Joins timber_sales and salesperson tables, groups sales by salesperson, calculates total volume sold by each salesperson, and orders the results by total volume in descending order."
}
Test Sample: {
  "id": 1,
  "domain": "artificial intelligence",
  "domain_description": "AI data on algorithmic fairness, AI safety, explainable AI, and creative AI applications.",
  "sql_complexity": "basic SQL",
  "sql_complexity_description": "basic SQL with a simple select statement",
  "sql_task_type": "analytics and reporting",
  "sql_task_type_description": "generating reports, dashboards, and analytical insights",
  "sql_prompt": "What is the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table?",
  "sql_context": "CREATE TABLE creative_ai (application_id INT, name TEXT, region TEXT, explainability_score FLOAT); INSERT INTO creative_ai (application_id, name, region, explainability_score) VALUES (1, 'ApplicationX', 'Europe', 0.87), (2, 'ApplicationY', 'North America', 0.91), (3, 'ApplicationZ', 'Europe', 0.84), (4, 'ApplicationAA', 'North America', 0.93), (5, 'ApplicationAB', 'Europe', 0.89);",
  "sql": "SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');",
  "sql_explanation": "This SQL query calculates the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table by using the AVG() function on the 'explainability_score' column, and the WHERE clause to filter records based on the 'region' column."
}

In [ ]:
LEFT_INDEX = 4000
RIGHT_INDEX = 5851
BATCH_SIZE = 8

In [ ]:
references = [
    test_data[idx]['sql'] for idx in range(LEFT_INDEX, RIGHT_INDEX)
]

In [ ]:
BASE_TEXT2SQL_PROMPT = """
# Follow these instruction:
You will be given context of making tables of a database. Your job is to write correct
error free SQL query based on the question asked. Please make sure:

1. Do not add ``` at start / end of the query. It should be a single line query in a  single line (string format)
2. Make sure the column names are correct and exists in the table
3. For column names which has a space with it, make sure you have put `` in that column name
4. Think step by step and always check context and question and the column names before writing the
query.

# Hre is context for the SQL query:
{additional_knowledge}

# Question: {question}

# SQL:
"""

few_shot_examples = '''
single join: only one join (specify inner, outer, cross):
  Sample 1:
    SQL Prompt: What is the total volume of timber sold by each salesperson, sorted by salesperson?
    SQL Query: SELECT salesperson_id, name, SUM(volume) as total_volume FROM timber_sales JOIN salesperson ON timber_sales.salesperson_id = salesperson.salesperson_id GROUP BY salesperson_id, name ORDER BY total_volume DESC;
  Sample 2:
    SQL Prompt: What is the average water temperature for each fish species in February?
    SQL Query: SELECT SpeciesName, AVG(WaterTemp) as AvgTemp FROM SpeciesWaterTemp INNER JOIN FishSpecies ON SpeciesWaterTemp.SpeciesID = FishSpecies.SpeciesID WHERE MONTH(Date) = 2 GROUP BY SpeciesName;
  Sample 3:
    SQL Prompt: What is the average income of farmers in each district in India?
    SQL Query: SELECT d.name, AVG(f.income) FROM farmers_india f JOIN districts_india d ON f.district_id = d.id GROUP BY d.name;

aggregation: aggregation functions (COUNT, SUM, AVG, MIN, MAX, etc.), and HAVING clause:
  Sample 1:
    SQL Prompt: List all the unique equipment types and their corresponding total maintenance frequency from the equipment_maintenance table.
    SQL Query: SELECT equipment_type, SUM(maintenance_frequency) AS total_maintenance_frequency FROM equipment_maintenance GROUP BY equipment_type;
  Sample 2:
    SQL Prompt: What is the total trade value and average price for each trader and stock in the trade_history table?
    SQL Query: SELECT trader_id, stock, SUM(price * quantity) as total_trade_value, AVG(price) as avg_price FROM trade_history GROUP BY trader_id, stock;
  Sample 3:
    SQL Prompt: Show the conservation status of marine mammals and birds by year.
    SQL Query: SELECT animal_group, conservation_status, year, COUNT(*) FROM combined GROUP BY animal_group, conservation_status, year;

basic SQL: basic SQL with a simple select statement:
  Sample 1:
    SQL Prompt: How many marine species are found in the Southern Ocean?
    SQL Query: SELECT COUNT(*) FROM marine_species WHERE location = 'Southern Ocean';
  Sample 2:
    SQL Prompt: What is the total spending on humanitarian assistance by the European Union in the last 3 years?
    SQL Query: SELECT SUM(spending) FROM defense.eu_humanitarian_assistance WHERE year BETWEEN 2019 AND 2021;
  Sample 3:
    SQL Prompt: Delete a program's outcome data
    SQL Query: DELETE FROM Program_Outcomes WHERE program_id = 1002;

window functions: window functions (e.g., ROW_NUMBER, LEAD, LAG, RANk, NTILE, PERCENT_RANK, etc.) with partitioning and ordering:
  Sample 1:
    SQL Prompt: Find the energy efficiency upgrades with the highest cost and their types.
    SQL Query: SELECT type, cost FROM (SELECT type, cost, ROW_NUMBER() OVER (ORDER BY cost DESC) as rn FROM upgrades) sub WHERE rn = 1;
  Sample 2:
    SQL Prompt: Which autonomous vehicles have the highest safety ratings in the 'auto_show' table?
    SQL Query: SELECT vehicle_name, safety_rating FROM (SELECT vehicle_name, safety_rating, RANK() OVER (ORDER BY safety_rating DESC) as safety_rank FROM auto_show WHERE vehicle_name LIKE '%Autonomous%') AS auton_ranks WHERE safety_rank = 1;
  Sample 3:
    SQL Prompt: Find the title and genre of the top 3 movies with the highest ratings from studios based in Italy, ordered by ratings in descending order.
    SQL Query: SELECT title, genre FROM (SELECT title, genre, studio, rating, ROW_NUMBER() OVER (PARTITION BY studio ORDER BY rating DESC) as rank FROM movies WHERE studio LIKE '%Italy%') subquery WHERE rank <= 3 ORDER BY rating DESC;

subqueries: subqueries, including correlated and nested subqueries:
  Sample 1:
    SQL Prompt: What is the average sea surface temperature in the Pacific Ocean per year?
    SQL Query: SELECT AVG(temperature) FROM (SELECT temperature FROM Ocean WHERE region = 'Pacific' GROUP BY temperature, YEAR(STR_TO_DATE(region, '%Y'))) AS PacificAverage;
  Sample 2:
    SQL Prompt: What are the common cybersecurity policies across all departments, according to our Policy Analysis database?
    SQL Query: SELECT policy FROM PolicyAnalysis GROUP BY policy HAVING COUNT(DISTINCT department) = (SELECT COUNT(DISTINCT department) FROM PolicyAnalysis);
  Sample 3:
    SQL Prompt: What is the total number of space missions led by women?
    SQL Query: SELECT COUNT(*) FROM space_missions WHERE leader IN (SELECT name FROM astronauts WHERE gender = 'Female');

multiple_joins: two or more joins (specify inner, outer, cross):
  Sample 1:
    SQL Prompt: What are the names and habitats of all animals that are part of an education program in the 'Americas' region?
    SQL Query: SELECT a.name, h.name FROM Animals a INNER JOIN AnimalEducation ae ON a.id = ae.animal_id INNER JOIN EducationPrograms e ON ae.program_id = e.id INNER JOIN Coordinators c ON e.coordinator_id = c.id INNER JOIN Habitat h ON a.habitat_id = h.id WHERE c.region = 'Americas';
  Sample 2:
    SQL Prompt: What is the total biomass of deciduous trees per wildlife habitat?
    SQL Query: SELECT h.name habitat, SUM(t.biomass) total_biomass FROM trees t JOIN tree_habitat_associations tha ON t.id = tha.tree_id JOIN wildlife_habitats h ON tha.habitat_id = h.id JOIN tree_types tt ON t.tree_type_id = tt.id WHERE tt.name = 'Deciduous' GROUP BY h.name;
  Sample 3:
    SQL Prompt: Get the name and country of the top 3 customers for organic cosmetics
    SQL Query: SELECT customers.name, customers.country FROM customers JOIN purchases ON customers.id = purchases.customer_id JOIN products ON purchases.product_id = products.id WHERE products.organic = TRUE GROUP BY customers.id ORDER BY SUM(purchases.quantity) DESC LIMIT 3;

set operations: set operations such as UNION, INTERSECT, and EXCEPT:
  Sample 1:
    SQL Prompt: Which menu items are served at both Location1 and Location2, but not at Location3?
    SQL Query: SELECT menu_item FROM menu_items WHERE location = 'Location1' INTERSECT SELECT menu_item FROM menu_items WHERE location = 'Location2' EXCEPT SELECT menu_item FROM menu_items WHERE location = 'Location3';
  Sample 2:
    SQL Prompt: How many players from Africa and South America have adopted VR technology?
    SQL Query: SELECT 'Africa' AS continent, COUNT(DISTINCT p.player_id) AS num_players FROM players p JOIN vr_tech v ON p.player_id = v.player_id WHERE p.region = 'Africa' UNION ALL SELECT 'South America' AS continent, COUNT(DISTINCT p.player_id) AS num_players FROM players p JOIN vr_tech v ON p.player_id = v.player_id WHERE p.region = 'South America';
  Sample 3:
    SQL Prompt: What are the total number of works in the 'Artworks' and 'Exhibitions' tables?
    SQL Query: SELECT COUNT(*) FROM Artworks UNION ALL SELECT COUNT(*) FROM Exhibitions;

CTEs: common table expressions:
  Sample 1:
    SQL Prompt: Add a new spacecraft to the Spacecrafts table.
    SQL Query: WITH new_spacecraft AS (VALUES (1, 'New Horizons 2', 'NASA', '2025-01-01', 'Active')) INSERT INTO Spacecrafts (Sid, Name, Manufacturer, Launch_Date, Status) SELECT * FROM new_spacecraft;
  Sample 2:
    SQL Prompt: Delete a publication record from the "publications" table
    SQL Query: WITH deleted_publication AS (DELETE FROM publications WHERE id = 1 RETURNING *) SELECT * FROM deleted_publication;
  Sample 3:
    SQL Prompt: Delete an artwork from the 'Impressionist Art' exhibition
    SQL Query: WITH artwork_to_delete AS (DELETE FROM exhibition_artworks WHERE exhibition_id = 1 AND artwork_id = 1) SELECT * FROM artwork_to_delete;'''

In [ ]:
import re
import json
import torch
from time import time
from torch.utils.data import DataLoader

extracted_sqls_with_context = []
# Định nghĩa dataset từ test_data
class SQLDataset(torch.utils.data.Dataset):
    def __init__(self, dataset, left, right):
        self.dataset = dataset.select(range(left, right)).to_dict()
        self.samples = [dict(zip(self.dataset.keys(), values)) for values in zip(*self.dataset.values())]

    def __len__(self):
        return len(self.samples)

    def __getitem__(self, idx):
        sample = self.samples[idx]
        return BASE_TEXT2SQL_PROMPT.format(
            question=sample['sql_prompt'],
            additional_knowledge=sample['sql_context'],
            few_shot_examples=few_shot_examples
        )

# Bắt đầu đo thời gian
start_time = time()

# Tạo DataLoader
sql_dataset = SQLDataset(test_data, LEFT_INDEX, RIGHT_INDEX)
dataloader = DataLoader(sql_dataset, batch_size=BATCH_SIZE, shuffle=False)

In [ ]:
# Định nghĩa file output
filename = f'Prem-1B-SQL_{LEFT_INDEX}_{RIGHT_INDEX}.jsonl'

total_samples = 0  # Đếm tổng số mẫu

with open(filename, 'w') as json_file:
    for batch_idx, batch_sql_prompts in enumerate(dataloader):
        batch_start_time = time()  # Đo thời gian cho từng batch

        tokenizer.padding_side = "left"
        inputs = tokenizer(batch_sql_prompts, return_tensors="pt", padding=True, truncation=True).to(device)

        # Sinh output từ mô hình
        with torch.no_grad():
          generated_ids = model.generate(
              **inputs,
              max_new_tokens=512,
              pad_token_id=tokenizer.eos_token_id
          )


        generated_ids = [
            output_ids[len(input_ids):] for input_ids, output_ids in zip(inputs.input_ids, generated_ids)
        ]
        # Giải mã output
        generated_sqls = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)


        for idx, generated_sql in enumerate(generated_sqls):
            generated_sql = generated_sql.strip()  # Loại bỏ khoảng trắng hai đầu
            generated_sql = re.sub(r"^[^\w]+", "", generated_sql)   # Loại bỏ các ký tự không hợp lệ bên trái
            generated_sql = generated_sql.split(';', 1)[0] + ';' if ';' in generated_sql else generated_sql  # Lấy đến dấu ';' đầu tiên
            total_samples += 1
            extracted_sqls_with_context.append(generated_sql)
            result = {'id': LEFT_INDEX + batch_idx * BATCH_SIZE + idx + 1, 'answer': generated_sql}
            json.dump(result, json_file)
            json_file.write("\n")




        batch_end_time = time()
        print(f"⏱️ Batch {batch_idx + 1} processed in {batch_end_time - batch_start_time:.2f} seconds.")

# Kết thúc đo thời gian
end_time = time()
elapsed_time = end_time - start_time

# In ra kết quả
print(f"✅ Data saved to {filename}")
print(f"⏳ Total time taken: {elapsed_time:.2f} seconds")
if total_samples > 0:
    print(f"⏱️ Average time per sample: {elapsed_time / total_samples:.4f} seconds")

⏱️ Batch 1 processed in 6.14 seconds.
⏱️ Batch 2 processed in 9.94 seconds.
⏱️ Batch 3 processed in 36.33 seconds.
⏱️ Batch 4 processed in 6.46 seconds.
⏱️ Batch 5 processed in 5.93 seconds.
⏱️ Batch 6 processed in 7.24 seconds.
⏱️ Batch 7 processed in 8.19 seconds.
⏱️ Batch 8 processed in 5.81 seconds.
⏱️ Batch 9 processed in 7.68 seconds.
⏱️ Batch 10 processed in 8.31 seconds.
⏱️ Batch 11 processed in 6.91 seconds.
⏱️ Batch 12 processed in 7.85 seconds.
⏱️ Batch 13 processed in 6.95 seconds.
⏱️ Batch 14 processed in 8.90 seconds.
⏱️ Batch 15 processed in 39.29 seconds.
⏱️ Batch 16 processed in 10.75 seconds.
⏱️ Batch 17 processed in 4.60 seconds.
⏱️ Batch 18 processed in 40.91 seconds.
⏱️ Batch 19 processed in 10.12 seconds.
⏱️ Batch 20 processed in 8.45 seconds.
⏱️ Batch 21 processed in 6.35 seconds.
⏱️ Batch 22 processed in 8.30 seconds.
⏱️ Batch 23 processed in 7.67 seconds.
⏱️ Batch 24 processed in 7.18 seconds.
⏱️ Batch 25 processed in 5.04 seconds.
⏱️ Batch 26 processed in 10.93 seconds.
⏱️ Batch 27 processed in 5.84 seconds.
⏱️ Batch 28 processed in 7.64 seconds.
⏱️ Batch 29 processed in 5.49 seconds.
⏱️ Batch 30 processed in 6.33 seconds.
⏱️ Batch 31 processed in 14.96 seconds.
⏱️ Batch 32 processed in 8.32 seconds.
⏱️ Batch 33 processed in 4.43 seconds.
⏱️ Batch 34 processed in 7.54 seconds.
⏱️ Batch 35 processed in 8.20 seconds.
⏱️ Batch 36 processed in 5.87 seconds.
⏱️ Batch 37 processed in 10.76 seconds.
⏱️ Batch 38 processed in 6.12 seconds.
⏱️ Batch 39 processed in 7.15 seconds.
⏱️ Batch 40 processed in 6.19 seconds.
⏱️ Batch 41 processed in 8.75 seconds.
⏱️ Batch 42 processed in 11.55 seconds.
⏱️ Batch 43 processed in 8.70 seconds.
⏱️ Batch 44 processed in 9.64 seconds.
⏱️ Batch 45 processed in 5.33 seconds.
⏱️ Batch 46 processed in 7.24 seconds.
⏱️ Batch 47 processed in 7.01 seconds.
⏱️ Batch 48 processed in 7.10 seconds.
⏱️ Batch 49 processed in 6.34 seconds.
⏱️ Batch 50 processed in 9.08 seconds.
⏱️ Batch 51 processed in 7.73 seconds.
⏱️ Batch 52 processed in 7.45 seconds.
⏱️ Batch 53 processed in 5.32 seconds.
⏱️ Batch 54 processed in 38.92 seconds.
⏱️ Batch 55 processed in 42.23 seconds.
⏱️ Batch 56 processed in 6.43 seconds.
⏱️ Batch 57 processed in 9.29 seconds.
⏱️ Batch 58 processed in 7.41 seconds.
⏱️ Batch 59 processed in 7.02 seconds.
⏱️ Batch 60 processed in 7.66 seconds.
⏱️ Batch 61 processed in 6.95 seconds.
⏱️ Batch 62 processed in 8.97 seconds.
⏱️ Batch 63 processed in 5.06 seconds.
⏱️ Batch 64 processed in 36.16 seconds.
⏱️ Batch 65 processed in 9.62 seconds.
⏱️ Batch 66 processed in 10.75 seconds.
⏱️ Batch 67 processed in 10.54 seconds.
⏱️ Batch 68 processed in 6.87 seconds.
⏱️ Batch 69 processed in 9.12 seconds.
⏱️ Batch 70 processed in 7.26 seconds.
⏱️ Batch 71 processed in 5.04 seconds.
⏱️ Batch 72 processed in 18.33 seconds.
⏱️ Batch 73 processed in 39.36 seconds.
⏱️ Batch 74 processed in 9.18 seconds.
⏱️ Batch 75 processed in 7.25 seconds.
⏱️ Batch 76 processed in 17.89 seconds.
⏱️ Batch 77 processed in 9.84 seconds.
⏱️ Batch 78 processed in 6.19 seconds.
⏱️ Batch 79 processed in 5.05 seconds.
⏱️ Batch 80 processed in 6.84 seconds.
⏱️ Batch 81 processed in 6.34 seconds.
⏱️ Batch 82 processed in 38.30 seconds.
⏱️ Batch 83 processed in 10.15 seconds.
⏱️ Batch 84 processed in 8.99 seconds.
⏱️ Batch 85 processed in 7.69 seconds.
⏱️ Batch 86 processed in 42.04 seconds.
⏱️ Batch 87 processed in 6.52 seconds.
⏱️ Batch 88 processed in 9.49 seconds.
⏱️ Batch 89 processed in 11.43 seconds.
⏱️ Batch 90 processed in 38.33 seconds.
⏱️ Batch 91 processed in 5.97 seconds.
⏱️ Batch 92 processed in 37.01 seconds.
⏱️ Batch 93 processed in 8.15 seconds.
⏱️ Batch 94 processed in 8.53 seconds.
⏱️ Batch 95 processed in 8.04 seconds.
⏱️ Batch 96 processed in 7.86 seconds.
⏱️ Batch 97 processed in 7.03 seconds.
⏱️ Batch 98 processed in 6.02 seconds.
⏱️ Batch 99 processed in 6.32 seconds.
⏱️ Batch 100 processed in 6.10 seconds.
⏱️ Batch 101 processed in 5.50 seconds.
⏱️ Batch 102 processed in 9.28 seconds.
⏱️ Batch 103 processed in 8.18 seconds.
⏱️ Batch 104 processed in 5.47 seconds.
⏱️ Batch 105 processed in 6.47 seconds.
⏱️ Batch 106 processed in 5.46 seconds.
⏱️ Batch 107 processed in 13.78 seconds.
⏱️ Batch 108 processed in 6.45 seconds.
⏱️ Batch 109 processed in 38.22 seconds.
⏱️ Batch 110 processed in 10.30 seconds.
⏱️ Batch 111 processed in 7.08 seconds.
⏱️ Batch 112 processed in 5.91 seconds.
⏱️ Batch 113 processed in 6.95 seconds.
⏱️ Batch 114 processed in 9.49 seconds.
⏱️ Batch 115 processed in 5.06 seconds.
⏱️ Batch 116 processed in 7.07 seconds.
⏱️ Batch 117 processed in 7.08 seconds.
⏱️ Batch 118 processed in 6.82 seconds.
⏱️ Batch 119 processed in 6.81 seconds.
⏱️ Batch 120 processed in 8.26 seconds.
⏱️ Batch 121 processed in 7.06 seconds.
⏱️ Batch 122 processed in 9.29 seconds.
⏱️ Batch 123 processed in 11.19 seconds.
⏱️ Batch 124 processed in 7.58 seconds.
⏱️ Batch 125 processed in 7.65 seconds.
⏱️ Batch 126 processed in 6.86 seconds.
⏱️ Batch 127 processed in 38.23 seconds.
⏱️ Batch 128 processed in 6.12 seconds.
⏱️ Batch 129 processed in 6.42 seconds.
⏱️ Batch 130 processed in 8.09 seconds.
⏱️ Batch 131 processed in 4.55 seconds.
⏱️ Batch 132 processed in 8.88 seconds.
⏱️ Batch 133 processed in 9.04 seconds.
⏱️ Batch 134 processed in 10.48 seconds.
⏱️ Batch 135 processed in 7.84 seconds.
⏱️ Batch 136 processed in 6.78 seconds.
⏱️ Batch 137 processed in 8.94 seconds.
⏱️ Batch 138 processed in 10.17 seconds.
⏱️ Batch 139 processed in 5.62 seconds.
⏱️ Batch 140 processed in 37.66 seconds.
⏱️ Batch 141 processed in 7.88 seconds.
⏱️ Batch 142 processed in 6.27 seconds.
⏱️ Batch 143 processed in 4.63 seconds.
⏱️ Batch 144 processed in 8.09 seconds.
⏱️ Batch 145 processed in 6.57 seconds.
⏱️ Batch 146 processed in 8.79 seconds.
⏱️ Batch 147 processed in 7.97 seconds.
⏱️ Batch 148 processed in 42.08 seconds.
⏱️ Batch 149 processed in 6.02 seconds.
⏱️ Batch 150 processed in 7.03 seconds.
⏱️ Batch 151 processed in 5.41 seconds.
⏱️ Batch 152 processed in 38.27 seconds.
⏱️ Batch 153 processed in 38.58 seconds.
⏱️ Batch 154 processed in 7.20 seconds.
⏱️ Batch 155 processed in 7.29 seconds.
⏱️ Batch 156 processed in 7.86 seconds.
⏱️ Batch 157 processed in 7.37 seconds.
⏱️ Batch 158 processed in 7.22 seconds.
⏱️ Batch 159 processed in 7.27 seconds.
⏱️ Batch 160 processed in 6.98 seconds.
⏱️ Batch 161 processed in 5.47 seconds.
⏱️ Batch 162 processed in 7.81 seconds.
⏱️ Batch 163 processed in 7.14 seconds.
⏱️ Batch 164 processed in 5.98 seconds.
⏱️ Batch 165 processed in 5.77 seconds.
⏱️ Batch 166 processed in 11.37 seconds.
⏱️ Batch 167 processed in 36.82 seconds.
⏱️ Batch 168 processed in 4.53 seconds.
⏱️ Batch 169 processed in 9.84 seconds.
⏱️ Batch 170 processed in 10.10 seconds.
⏱️ Batch 171 processed in 9.59 seconds.
⏱️ Batch 172 processed in 8.61 seconds.
⏱️ Batch 173 processed in 7.40 seconds.
⏱️ Batch 174 processed in 7.53 seconds.
⏱️ Batch 175 processed in 7.82 seconds.
⏱️ Batch 176 processed in 5.47 seconds.
⏱️ Batch 177 processed in 37.73 seconds.
⏱️ Batch 178 processed in 39.60 seconds.
⏱️ Batch 179 processed in 6.06 seconds.
⏱️ Batch 180 processed in 7.22 seconds.
⏱️ Batch 181 processed in 7.17 seconds.
⏱️ Batch 182 processed in 6.65 seconds.
⏱️ Batch 183 processed in 6.97 seconds.
⏱️ Batch 184 processed in 7.17 seconds.
⏱️ Batch 185 processed in 8.40 seconds.
⏱️ Batch 186 processed in 5.95 seconds.
⏱️ Batch 187 processed in 5.36 seconds.
⏱️ Batch 188 processed in 7.39 seconds.
⏱️ Batch 189 processed in 5.39 seconds.
⏱️ Batch 190 processed in 8.25 seconds.
⏱️ Batch 191 processed in 6.62 seconds.
⏱️ Batch 192 processed in 6.19 seconds.
⏱️ Batch 193 processed in 6.99 seconds.
⏱️ Batch 194 processed in 7.94 seconds.
⏱️ Batch 195 processed in 7.20 seconds.
⏱️ Batch 196 processed in 40.35 seconds.
⏱️ Batch 197 processed in 8.55 seconds.
⏱️ Batch 198 processed in 39.76 seconds.
⏱️ Batch 199 processed in 5.71 seconds.
⏱️ Batch 200 processed in 6.51 seconds.
⏱️ Batch 201 processed in 7.14 seconds.
⏱️ Batch 202 processed in 6.32 seconds.
⏱️ Batch 203 processed in 5.98 seconds.
⏱️ Batch 204 processed in 8.63 seconds.
⏱️ Batch 205 processed in 8.24 seconds.
⏱️ Batch 206 processed in 8.64 seconds.
⏱️ Batch 207 processed in 7.49 seconds.
⏱️ Batch 208 processed in 9.47 seconds.
⏱️ Batch 209 processed in 8.01 seconds.
⏱️ Batch 210 processed in 7.04 seconds.
⏱️ Batch 211 processed in 8.60 seconds.
⏱️ Batch 212 processed in 4.57 seconds.
⏱️ Batch 213 processed in 6.75 seconds.
⏱️ Batch 214 processed in 13.73 seconds.
⏱️ Batch 215 processed in 6.76 seconds.
⏱️ Batch 216 processed in 4.93 seconds.
⏱️ Batch 217 processed in 7.85 seconds.
⏱️ Batch 218 processed in 7.74 seconds.
⏱️ Batch 219 processed in 8.16 seconds.
⏱️ Batch 220 processed in 5.75 seconds.
⏱️ Batch 221 processed in 41.36 seconds.
⏱️ Batch 222 processed in 8.46 seconds.
⏱️ Batch 223 processed in 9.52 seconds.
⏱️ Batch 224 processed in 8.49 seconds.
⏱️ Batch 225 processed in 7.09 seconds.
⏱️ Batch 226 processed in 7.30 seconds.
⏱️ Batch 227 processed in 12.69 seconds.
⏱️ Batch 228 processed in 9.72 seconds.
⏱️ Batch 229 processed in 8.81 seconds.
⏱️ Batch 230 processed in 6.28 seconds.
⏱️ Batch 231 processed in 5.48 seconds.
⏱️ Batch 232 processed in 4.21 seconds.
✅ Data saved to Prem-1B-SQL_4000_5851.jsonl
⏳ Total time taken: 2498.43 seconds
⏱️ Average time per sample: 1.3498 seconds

In [ ]:
extracted_sqls_with_context

["SELECT MAX(billing_amount) FROM cases JOIN attorneys ON cases.attorney_id = attorneys.attorney_id WHERE attorneys.state = 'NY' AND attorneys.win_rate > 0.8;",
 "SELECT country, emissions FROM (SELECT country, emissions, ROW_NUMBER() OVER (ORDER BY emissions DESC) as rn FROM emissions WHERE country != 'US') t WHERE rn <= 3;",
 'SELECT State, COUNT(*) FROM Hospitals WHERE MentalHealth = TRUE GROUP BY State;',
 'SELECT AVG(raised_amount) FROM investments JOIN diversity ON investments.company_id = diversity.company_id WHERE latinx_founder = true;',
 "SELECT COUNT(*) FROM accommodations WHERE accommodation_category = 'Online Learning';",
 "DELETE FROM CoralReefs WHERE Health_Status = 'Degraded';",
 "SELECT MIN(Daily_Transactions) FROM Smart_Contracts SC JOIN Digital_Assets DA ON SC.Asset_ID = DA.Asset_ID WHERE DA.Issuer_Country = 'Africa';",
 "SELECT status FROM regulation WHERE country = 'germany';",
 'SELECT SUM(market_cap) FROM digital_assets WHERE asset_id IN (SELECT asset_id FROM transactions GROUP BY asset_id HAVING COUNT(*) >= 1000);',
 "SELECT AVG(training_count) FROM DisasterPreparedness WHERE state = 'California' GROUP BY year;",
 'SELECT artist_name, SUM(quantity) FROM MuseumArtists GROUP BY artist_name;',
 "SELECT AVG(avg_attendance) FROM concerts WHERE genre = 'Jazz';",
 "INSERT INTO veteran_employment (veteran_id, name, job_start_date) VALUES (888, 'James Smith', '2015-01-01');",
 "UPDATE threat_intelligence SET threat_level = 'medium' WHERE threat_source = 'United Nations' AND threat_date < '2022-01-01';",
 "SELECT * FROM employee_skills WHERE skill_name = 'sustainable_manufacturing' AND experience_years > 2;",
 'SELECT site_name, SUM(total_artifacts) FROM excavation_sites WHERE year = 2020 GROUP BY site_name;',
 "SELECT name FROM hospitals WHERE region = 'Northeast' AND patient_capacity = (SELECT MIN(patient_capacity) FROM hospitals WHERE region = 'Northeast');",
 "INSERT INTO open_pedagogy_resources (resource_name, topic) VALUES ('Critical Thinking in Math Education', 'critical thinking');",
 'SELECT Department FROM Employees GROUP BY Department HAVING COUNT(*) > 1;',
 'SELECT HireYear, COUNT(*) OVER (PARTITION BY HireYear ORDER BY HireYear) AS Running_Total FROM Hiring;',
 'SELECT sector, (SUM(efficiency) / (SELECT SUM(efficiency) FROM energy_efficiency WHERE year = 2015 AND sector = e.sector) * 100.0) - 100.0 AS improvement FROM energy_efficiency e WHERE year = 2020 GROUP BY sector;',
 "SELECT SUM(capacity) FROM windfarm WHERE country IN ('Germany', 'France');",
 "INSERT INTO basketball_players (player_id, player_name, position, team, country) VALUES (1, 'Marta Santiago', 'center', 'Spain national team', 'Spain');",
 "SELECT AVG(item_count) FROM (SELECT item_count, delivery_date FROM items_delivered WHERE country = 'South America' AND QUARTER(delivery_date) = 3 AND YEAR(delivery_date) = 2021 GROUP BY delivery_date) AS avg_items_per_day;",
 "DELETE FROM accessibility_features WHERE feature_type = 'Voice Command' AND status = 'Discontinued';",
 'SELECT company, year, COUNT(*) FROM ai_patents GROUP BY company, year;',
 "UPDATE EthicalAIPractices SET StartDate = '2022-05-01' WHERE Project = 'AI for Children';",
 "SELECT AVG(project_count) FROM (SELECT COUNT(*) AS project_count FROM digital_divide_projects WHERE country = 'Asia' GROUP BY completion_year) AS subquery;",
 "SELECT SUM(budget) FROM accessible_tech WHERE sector = 'education';",
 "SELECT SUM(fare) FROM bus_trips JOIN bus_routes ON bus_trips.route_id = bus_routes.route_id WHERE bus_routes.starting_letter = 'B';",
 "SELECT Brand_ID, DATEDIFF(day, ISNULL(Last_Usage_Date, '9999-01-01'), '9999-01-01') AS Days_Since_Last_Usage FROM Brand_Sustainable_Material_Last_Usage;",
 'SELECT region, COUNT(*) FROM labor_practices_violations GROUP BY region;',
 "SELECT name, SUM(spend) as total_spend FROM african_consumers WHERE country IN ('Nigeria', 'South Africa', 'Egypt') GROUP BY name ORDER BY total_spend DESC LIMIT 1;",
 'SELECT country, COUNT(*) as sustainable_labor_count FROM ManufacturerLabor WHERE has_sustainable_labor = true GROUP BY country ORDER BY sustainable_labor_count DESC;',
 "SELECT COUNT(*) FROM sales WHERE size = '2XL' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH);",
 "SELECT SUM(amount) FROM donations WHERE donor = 'Aisha' AND YEAR(donation_date) = 2021;",
 'SELECT COUNT(*) FROM FinancialTransactions INNER JOIN Volunteers ON FinancialTransactions.VolunteerID = Volunteers.VolunteerID;',
 "UPDATE OrganicProducts SET name = 'Eco-friendly Product2' WHERE id = 2;",
 "SELECT COUNT(*) FROM Inventory WHERE is_organic = TRUE AND category = 'Fruit';",
 'SELECT carrier_name, COUNT(*) FROM shipment GROUP BY carrier_name;',
 'SELECT transportation_mode, COUNT(DISTINCT item_type) FROM shipments GROUP BY transportation_mode;',
 "SELECT WarehouseID, COUNT(*) as TotalLateDeliveries FROM Shipments WHERE LateDelivery = 1 AND ShippedDate >= DATEADD(month, -1, GETDATE()) AND WarehouseID IN (SELECT WarehouseID FROM Warehouses WHERE Region = 'Americas') GROUP BY WarehouseID HAVING COUNT(*) >= 25;",
 "SELECT COUNT(*), area_sqm FROM parks WHERE state = 'New York' GROUP BY area_sqm;",
 "SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM faculty_members WHERE faculty_department = 'School of Business')) AS percentage FROM faculty_members WHERE faculty_race = 'AAPI';",
 "SELECT AVG(budget) FROM green_buildings WHERE building_name LIKE '%green%';",
 "SELECT SUM(capacity) FROM wind_projects WHERE country = 'Germany';",
 'SELECT city, project_type, SUM(investment_cost) FROM energy_efficient_lighting WHERE investment_cost > 1000000 GROUP BY city, project_type;',
 "SELECT MAX(number) FROM mental_health_parity_violations WHERE state IN ('South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia');",
 "SELECT city, COUNT(*) FROM asian_sites WHERE city IN ('Tokyo', 'Seoul') AND type = 'historical' GROUP BY city;",
 "SELECT country, SUM(num_sessions) as total_sessions FROM virtual_tourism WHERE session_date >= '2023-01-01' AND session_date < '2023-04-01' GROUP BY country ORDER BY total_sessions DESC LIMIT 5;",
 "SELECT SUM(num_engagements) FROM TourEngagements WHERE city = 'Barcelona' AND rating >= 4.5;",
 "SELECT Artist.country_of_origin, Artwork.medium, COUNT(Artwork.artwork_id) FROM Artist INNER JOIN Artwork ON Artist.artist_id = Artwork.artist_id WHERE Artwork.genre = 'Expressionism' GROUP BY Artist.country_of_origin, Artwork.medium;",
 "SELECT COUNT(*) FROM UNESCO_SITES WHERE region = 'Oceania';",
 "SELECT AVG(age) FROM patients WHERE improvement = 'improved';",
 "SELECT AVG(patients.age) FROM patients INNER JOIN treatments ON patients.patient_id = treatments.patient_id WHERE treatments.treatment_type = 'Therapy' AND patients.country = 'Canada';",
 "INSERT INTO design_standards (id, name, version, description) VALUES (4, 'Bridge Design Standards for Earthquake Zones', 2022, 'New standards for bridge design in earthquake zones');",
 'SELECT MAX(visitors) FROM gcnp_visitors;',
 "SELECT SUM(revenue) FROM sustainable_tourism WHERE country IN ('New Zealand', 'Canada') AND year = 2022;",
 'SELECT COUNT(DISTINCT service_type) FROM defendant_services;',
 "SELECT species, AVG(depth) FROM underwater_species WHERE ocean IN ('Indian', 'Pacific') GROUP BY species;",
 "UPDATE marine_sites SET max_depth = 3500 WHERE site_name = 'Research Site A';",
 "SELECT country FROM CountryPollution WHERE pollution_level = (SELECT MAX(pollution_level) FROM CountryPollution WHERE region = 'Atlantic Ocean');",
 'CREATE TABLE food_waste_tracking (waste_id INT PRIMARY KEY, waste_type VARCHAR(255), quantity INT, location VARCHAR(255));',
 'SELECT customer_id, COUNT(*) as order_count FROM Orders WHERE order_date >= DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) GROUP BY customer_id ORDER BY order_count DESC LIMIT 10;',
 "SELECT MAX(value) FROM contract_values WHERE contractor = 'Northrop Grumman' AND service = 'Geopolitical Risk Assessment';",
 "SELECT AVG(productivity) FROM labor WHERE department = 'coal';",
 'SELECT continent, avg_upload_speed, avg_upload_speed/AVG(avg_upload_speed) OVER (PARTITION BY continent) as avg_upload_speed_percentage FROM avg_upload_speed_view;',
 "SELECT MAX(data_usage) FROM subscribers WHERE region = 'urban';",
 'SELECT c.name AS country, COUNT(m.id) AS mobile_subscribers, COUNT(b.id) AS broadband_subscribers FROM subscribers s JOIN mobile_plans mp ON s.plan_id = mp.id JOIN broadband_plans bp ON s.plan_id = bp.id JOIN countries c ON s.country = c.name GROUP BY c.name;',
 'SELECT city, MAX(sales) FROM Concerts;',
 'SELECT DonorID, AVG(DonationAmount) OVER (PARTITION BY DonorID ORDER BY EXTRACT(MONTH FROM DonationDate)) AS AvgDonationPerMonth FROM DonationAmounts;',
 "SELECT donor_id, AVG(DATEDIFF('month', MIN(donation_date), MAX(donation_date))) FROM donations GROUP BY donor_id;",
 'SELECT Programs.ProgramName FROM Programs INNER JOIN ProgramDonations ON Programs.ProgramID = ProgramDonations.ProgramID;',
 'SELECT c.cause_name, AVG(dam.donation_frequency) FROM philanthropy.causes c JOIN (SELECT cause_id, COUNT(*) AS donation_frequency FROM philanthropy.donation_amount_by_cause GROUP BY cause_id) dam ON c.cause_id = dam.cause_id GROUP BY c.cause_name;',
 "SELECT MAX(PlaytimeMinutes) FROM CosmicRacersPlayers WHERE Rank IN ('Platinum', 'Gold', 'Diamond');",
 "SELECT COUNT(DISTINCT PlayerId) FROM GamePlayer GP JOIN Player P ON GP.PlayerId = P.id WHERE GP.GameId = (SELECT G.id FROM Game G WHERE G.name = 'Fantasy') AND P.country = 'Asia';",
 'SELECT VR_Games.GameName, Designers.DesignerName, Designers.YearsOfExperience FROM VR_Games INNER JOIN VR_GameDesign ON VR_Games.GameID = VR_GameDesign.GameID INNER JOIN Designers ON VR_GameDesign.DesignerID = Designers.DesignerID;',
 'SELECT country, COUNT(*) as total_analysis FROM satellite_image_analysis WHERE analysis_date >= DATEADD(month, -1, GETDATE()) GROUP BY country ORDER BY total_analysis DESC LIMIT 3;',
 'SELECT AVG(temperature) FROM Field1_Temperature WHERE EXTRACT(MONTH FROM measurement_time) = 7 AND EXTRACT(YEAR FROM measurement_time) IN (2021, 2022);',
 'SELECT ct.crop_type, MAX(ct.temperature) AS max_temperature, MAX(ch.humidity) AS max_humidity FROM crop_temperature ct INNER JOIN crop_humidity ch ON ct.crop_type = ch.crop_type WHERE ct.timestamp >= DATEADD(month, -1, CURRENT_TIMESTAMP) GROUP BY ct.crop_type;',
 "SELECT SUM(count) FROM Deliveries WHERE quarter = 2 AND region = 'North';",
 "SELECT MIN(amount) FROM Budget WHERE department = 'Education' AND year = 2022;",
 'SELECT element, MIN(quantity) FROM production WHERE year = 2019 GROUP BY element;',
 "SELECT co_owners.name, properties.address FROM co_owners INNER JOIN properties ON co_owners.property_id = properties.id WHERE co_owners.city IN ('Portland', 'Seattle');",
 "SELECT COUNT(*) FROM carbon_offset_programs WHERE program_location LIKE 'Asia%' AND program_start_date >= '2020-01-01' AND program_start_date < '2021-01-01';",
 "SELECT AVG(rating) FROM projects WHERE location = 'Germany';",
 "SELECT project_name FROM renewable_projects WHERE location IN ('US', 'Canada');",
 'SELECT menu_item_id, SUM(quantity_sold) as total_quantity_sold FROM MenuSales WHERE sale_date >= DATEADD(month, -1, GETDATE()) GROUP BY menu_item_id ORDER BY total_quantity_sold ASC;',
 "SELECT source, type, COUNT(*) as debris_count, AVG(DATEDIFF('year', launch_date, '2022-01-01')) as avg_years_in_orbit FROM space_debris GROUP BY source, type;",
 "SELECT COUNT(*) FROM SpaceMissions WHERE end_date < '2010-01-01' AND status = 'Success';",
 "SELECT SUM(Mass) FROM Spacecraft WHERE Manufacturer = 'SpaceX';",
 'SELECT gender, COUNT(*) FROM fan_demographics GROUP BY gender;',
 'SELECT COUNT(*) FROM security_incidents si JOIN users u ON si.user_id = u.user_id WHERE incident_date >= DATEADD(year, -1, GETDATE()) AND u.department_size > 50;',
 "SELECT AVG(speed) FROM taxi_speeds WHERE taxi_type = 'Autonomous' AND city = 'New York' AND date >= DATEADD(day, -7, CURRENT_DATE);",
 "SELECT SUM(claim_amount) FROM claims WHERE policyholder_state IN ('Utah', 'Idaho');",
 "SELECT Underwriters.UnderwriterID, SUM(Claims.Amount) AS TotalClaimAmount FROM Underwriters INNER JOIN Claims ON Underwriters.UnderwriterID = Claims.UnderwriterID WHERE Underwriters.Region = 'Midwest' GROUP BY Underwriters.UnderwriterID ORDER BY TotalClaimAmount DESC LIMIT 3;",
 'SELECT w.region, (COUNT(CASE WHEN i.injury_count = 0 THEN 1 END) / COUNT(w.id)) * 100 AS pct_no_injuries FROM workplaces w LEFT JOIN injuries i ON w.id = i.workplace_id GROUP BY w.region;',
 'DELETE FROM VehicleSafetyTesting WHERE release_year < 2010;',
 "SELECT AVG(speed) FROM vessels WHERE port_id IN (SELECT id FROM ports WHERE country = 'USA' AND name IN ('New York', 'Savannah', 'Norfolk')) AND EXTRACT(MONTH FROM arrival_date) = 7;",
 'SELECT vessel_id, SUM(amount) FROM regulatory_compliance GROUP BY vessel_id;',
 "SELECT country, AVG(recycling_rate) FROM RecyclingRatesOceania WHERE year = 2021 AND country IN ('Australia', 'New Zealand') GROUP BY country;",
 'SELECT researcher_name FROM safety_research ORDER BY contributions DESC LIMIT 3;',
 "SELECT SUM(cost) FROM infrastructure_projects WHERE country = 'India' AND completion_year IN (2021, 2022);",
 "SELECT community_type, SUM(investment) FROM rural_infrastructure_projects WHERE country = 'United States' AND community_type = 'Latinx' GROUP BY community_type;",
 "SELECT project, budget FROM (SELECT project, budget, ROW_NUMBER() OVER (ORDER BY budget DESC) as rn FROM innovation_projects WHERE country = 'Indonesia') t WHERE rn <= 5;",
 'SELECT farm_id, SUM(weight) OVER (PARTITION BY farm_id ORDER BY date) biomass FROM FishBiomass WHERE farm_id = 2;',
 'SELECT MAX(donation_amount) FROM dance_sponsors;',
 "SELECT AVG(DonationAmount) FROM Donors WHERE DonationDate BETWEEN '2021-04-01' AND '2021-06-30' AND DonorID NOT IN (SELECT DonorID FROM Donors GROUP BY DonorID HAVING COUNT(*) > 1);",
 "SELECT SUM(cost) FROM Projects WHERE state = 'Texas' AND is_sustainable = true AND project_date BETWEEN '2022-04-01' AND '2022-06-30';",
 "SELECT COUNT(*) FROM cases WHERE attorney = 'Rodriguez' AND state = 'Texas' AND outcome = 'won' AND YEAR(date) = 2020;",
 "DELETE FROM waste_production WHERE region = 'Antarctica' AND EXTRACT(MONTH FROM date) = 1 AND EXTRACT(YEAR FROM date) = 2022;",
 "SELECT AVG(emissions) FROM factories WHERE location = 'California';",
 'SELECT Protocol FROM Plant_A_Safety_Protocols EXCEPT (SELECT Protocol FROM Plant_B_Safety_Protocols INTERSECT SELECT Protocol FROM Plant_C_Safety_Protocols) EXCEPT (SELECT Protocol FROM Plant_C_Safety_Protocols EXCEPT SELECT Protocol FROM Plant_B_Safety_Protocols INTERSECT SELECT Protocol FROM Plant_A_Safety_Protocols);',
 "SELECT finance_type, SUM(amount) FROM climate_finance WHERE project_location = 'Africa' AND finance_year BETWEEN 2015 AND 2020 GROUP BY finance_type;",
 'SELECT city FROM Finance WHERE avg_temp > (SELECT avg_temp FROM Mitigation WHERE city = Finance.city);',
 "SELECT AVG(LifeExpectancy) FROM Countries WHERE Continent = 'Africa';",
 "INSERT INTO student_disability (id, student_name, disability_type, accommodation_provided) VALUES (3, 'Bob Johnson', 'Mobility Impairment', 'Jumping Jacket');",
 "UPDATE climate_change SET avg_temp_celsius = avg_temp_celsius - 5 WHERE region = 'Arctic Ocean';",
 "SELECT * FROM transactions WHERE user_address = '0x456...';",
 "SELECT name FROM regulatory_frameworks WHERE country_id = (SELECT id FROM countries WHERE name = 'Country1');",
 "SELECT 'Total Organic' AS metric, COUNT(*) AS count FROM products_organic WHERE organic = true UNION ALL SELECT 'Total Non-Organic' AS metric, COUNT(*) AS count FROM products_organic WHERE organic = false;",
 "SELECT AVG(price) FROM cosmetics WHERE is_vegan = TRUE AND country = 'US';",
 'SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM lipsticks)) AS percentage FROM lipsticks WHERE is_vegan = TRUE AND is_gluten_free = TRUE;',
 "SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM haircare_sales WHERE country = 'France' AND sale_date BETWEEN '2021-07-01' AND '2021-09-30' AND is_sustainable = true)) AS percentage FROM haircare_sales WHERE country = 'France' AND sale_date BETWEEN '2021-07-01' AND '2021-09-30' AND is_sustainable = true;",
 'SELECT b.brand_name, MAX(p.rating) as max_rating FROM brands b JOIN products p ON b.brand_id = p.brand_id WHERE p.is_cruelty_free = TRUE GROUP BY b.brand_name;',
 'SELECT name, AVG(crime_count/population) FROM neighborhoods GROUP BY name;',
 'SELECT cd.community_name, ct.crime_type, AVG(cd.response_time) as avg_response_time FROM community_districts cd JOIN crime_data cd ON cd.cd_number = cd.cd_number JOIN (SELECT crime_type, cd_number, COUNT(*) as count FROM crime_data WHERE crime_date >= CURDATE() - INTERVAL 1 MONTH GROUP BY crime_type, cd_number ORDER BY count DESC LIMIT 5) ct ON cd.cd_number = ct.cd_number GROUP BY cd.community_name, ct.crime_type;',
 "SELECT maintenance_cost(maintenance_cost) FROM equipment_maintenance WHERE equipment_type = 'Type A' AND maintenance_date BETWEEN '2022-01-01' AND '2022-12-31' INTERSECT SELECT maintenance_cost(maintenance_cost) FROM equipment_maintenance WHERE equipment_type = 'Type B' AND maintenance_date BETWEEN '2022-01-01' AND '2022-12-31';",
 "SELECT event FROM defense_diplomacy WHERE country1 = 'China' AND country2 = 'India' AND year BETWEEN 2005 AND 2010;",
 "SELECT SUM(capacity) FROM vessels WHERE registry = 'Hong Kong';",
 "SELECT name FROM suppliers WHERE country = 'Germany';",
 "SELECT tech_name, capabilities FROM military_tech WHERE region = 'North America';",
 "DELETE FROM music_genres WHERE genre = 'Hip-Hop' AND YEAR(event_date) = 2019;",
 "SELECT AVG(song_length) FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE artists.country = 'United States';",
 'SELECT COUNT(*) FROM (SELECT DonorID FROM Donations WHERE Amount > 100 GROUP BY DonorID HAVING COUNT(*) > 1);',
 "SELECT AVG(DonationAmount) FROM Donations WHERE DonorName LIKE 'S%';",
 "SELECT AVG(donation_amount) FROM Donations d JOIN Donors don ON d.donor_id = don.donor_id WHERE program_id IN (SELECT program_id FROM Programs WHERE category = 'health') AND YEAR(donation_date) = 2022 AND QUARTER(donation_date) = 2 AND donor_id NOT IN (SELECT donor_id FROM Donors WHERE last_donation_date < donation_date);",
 'SELECT student_id, course_id, COUNT(course_id) OVER (PARTITION BY student_id ORDER BY completion_date) as completed_courses FROM lifelong_learning WHERE student_id = 2;',
 'SELECT Name FROM TopTeachers;',
 'SELECT district_id, AVG(mental_health_score) as avg_mental_health FROM student_mental_health GROUP BY district_id ORDER BY avg_mental_health DESC;',
 'SELECT SUM(Salary) FROM Employees;',
 "INSERT INTO energy_storage (id, region, year, capacity) VALUES (1, 'Sao Paulo', 2027, 9000);",
 "SELECT SUM(generation) FROM energy_generation WHERE country IN ('Kenya', 'Nigeria', 'South Africa') AND source_type IN ('Solar', 'Wind') AND generation_date BETWEEN '2021-01-01' AND '2021-03-31';",
 "SELECT COUNT(*) FROM wells WHERE region IN ('Permian Basin', 'Marcellus Shale') AND well_type = 'Gas' AND status = 'Producing';",
 'SELECT t.team_name, (SUM(g.won) * 100.0 / (SELECT COUNT(*) FROM games WHERE team_id = t.team_id AND season_id = (SELECT MAX(season_id) FROM teams))) AS win_percentage FROM teams t JOIN games g ON t.team_id = g.team_id WHERE t.season_id = (SELECT MAX(season_id) FROM teams) GROUP BY t.team_name ORDER BY win_percentage DESC LIMIT 1;',
 'SELECT name, home_runs FROM baseball_stats ORDER BY home_runs DESC LIMIT 1;',
 "SELECT SUM(amount) FROM Funding INNER JOIN Organization ON Funding.organization_id = Organization.id WHERE Organization.country = 'India';",
 'SELECT MAX(fare) FROM urban.trams WHERE fare >= 2;',
 "SELECT SUM(revenue) FROM routes WHERE route_name = 'Red Line';",
 "SELECT AVG(delivery_time) FROM orders WHERE country = 'Italy' AND eco_friendly = TRUE;",
 "SELECT SUM(income) AS total_income, SUM(expenses) AS total_expenses FROM FinancialWellbeingPrograms WHERE country = 'Australia';",

In [ ]:
for x in extracted_sqls_with_context:
  print(x)
  print("--------------")

SELECT MAX(billing_amount) FROM cases JOIN attorneys ON cases.attorney_id = attorneys.attorney_id WHERE attorneys.state = 'NY' AND attorneys.win_rate > 0.8;
--------------
SELECT country, emissions FROM (SELECT country, emissions, ROW_NUMBER() OVER (ORDER BY emissions DESC) as rn FROM emissions WHERE country != 'US') t WHERE rn <= 3;
--------------
SELECT State, COUNT(*) FROM Hospitals WHERE MentalHealth = TRUE GROUP BY State;
--------------
SELECT AVG(raised_amount) FROM investments JOIN diversity ON investments.company_id = diversity.company_id WHERE latinx_founder = true;
--------------
SELECT COUNT(*) FROM accommodations WHERE accommodation_category = 'Online Learning';
--------------
DELETE FROM CoralReefs WHERE Health_Status = 'Degraded';
--------------
SELECT MIN(Daily_Transactions) FROM Smart_Contracts SC JOIN Digital_Assets DA ON SC.Asset_ID = DA.Asset_ID WHERE DA.Issuer_Country = 'Africa';
--------------
SELECT status FROM regulation WHERE country = 'germany';
--------------
SELECT SUM(market_cap) FROM digital_assets WHERE asset_id IN (SELECT asset_id FROM transactions GROUP BY asset_id HAVING COUNT(*) >= 1000);
--------------
SELECT AVG(training_count) FROM DisasterPreparedness WHERE state = 'California' GROUP BY year;
--------------
SELECT artist_name, SUM(quantity) FROM MuseumArtists GROUP BY artist_name;
--------------
SELECT AVG(avg_attendance) FROM concerts WHERE genre = 'Jazz';
--------------
INSERT INTO veteran_employment (veteran_id, name, job_start_date) VALUES (888, 'James Smith', '2015-01-01');
--------------
UPDATE threat_intelligence SET threat_level = 'medium' WHERE threat_source = 'United Nations' AND threat_date < '2022-01-01';
--------------
SELECT * FROM employee_skills WHERE skill_name = 'sustainable_manufacturing' AND experience_years > 2;
--------------
SELECT site_name, SUM(total_artifacts) FROM excavation_sites WHERE year = 2020 GROUP BY site_name;
--------------
SELECT name FROM hospitals WHERE region = 'Northeast' AND patient_capacity = (SELECT MIN(patient_capacity) FROM hospitals WHERE region = 'Northeast');
--------------
INSERT INTO open_pedagogy_resources (resource_name, topic) VALUES ('Critical Thinking in Math Education', 'critical thinking');
--------------
SELECT Department FROM Employees GROUP BY Department HAVING COUNT(*) > 1;
--------------
SELECT HireYear, COUNT(*) OVER (PARTITION BY HireYear ORDER BY HireYear) AS Running_Total FROM Hiring;
--------------
SELECT sector, (SUM(efficiency) / (SELECT SUM(efficiency) FROM energy_efficiency WHERE year = 2015 AND sector = e.sector) * 100.0) - 100.0 AS improvement FROM energy_efficiency e WHERE year = 2020 GROUP BY sector;
--------------
SELECT SUM(capacity) FROM windfarm WHERE country IN ('Germany', 'France');
--------------
INSERT INTO basketball_players (player_id, player_name, position, team, country) VALUES (1, 'Marta Santiago', 'center', 'Spain national team', 'Spain');
--------------
SELECT AVG(item_count) FROM (SELECT item_count, delivery_date FROM items_delivered WHERE country = 'South America' AND QUARTER(delivery_date) = 3 AND YEAR(delivery_date) = 2021 GROUP BY delivery_date) AS avg_items_per_day;
--------------
DELETE FROM accessibility_features WHERE feature_type = 'Voice Command' AND status = 'Discontinued';
--------------
SELECT company, year, COUNT(*) FROM ai_patents GROUP BY company, year;
--------------
UPDATE EthicalAIPractices SET StartDate = '2022-05-01' WHERE Project = 'AI for Children';
--------------
SELECT AVG(project_count) FROM (SELECT COUNT(*) AS project_count FROM digital_divide_projects WHERE country = 'Asia' GROUP BY completion_year) AS subquery;
--------------
SELECT SUM(budget) FROM accessible_tech WHERE sector = 'education';
--------------
SELECT SUM(fare) FROM bus_trips JOIN bus_routes ON bus_trips.route_id = bus_routes.route_id WHERE bus_routes.starting_letter = 'B';
--------------
SELECT Brand_ID, DATEDIFF(day, ISNULL(Last_Usage_Date, '9999-01-01'), '9999-01-01') AS Days_Since_Last_Usage FROM Brand_Sustainable_Material_Last_Usage;
--------------
SELECT region, COUNT(*) FROM labor_practices_violations GROUP BY region;
--------------
SELECT name, SUM(spend) as total_spend FROM african_consumers WHERE country IN ('Nigeria', 'South Africa', 'Egypt') GROUP BY name ORDER BY total_spend DESC LIMIT 1;
--------------
SELECT country, COUNT(*) as sustainable_labor_count FROM ManufacturerLabor WHERE has_sustainable_labor = true GROUP BY country ORDER BY sustainable_labor_count DESC;
--------------
SELECT COUNT(*) FROM sales WHERE size = '2XL' AND date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH);
--------------
SELECT SUM(amount) FROM donations WHERE donor = 'Aisha' AND YEAR(donation_date) = 2021;
--------------
SELECT COUNT(*) FROM FinancialTransactions INNER JOIN Volunteers ON FinancialTransactions.VolunteerID = Volunteers.VolunteerID;
--------------
UPDATE OrganicProducts SET name = 'Eco-friendly Product2' WHERE id = 2;
--------------
SELECT COUNT(*) FROM Inventory WHERE is_organic = TRUE AND category = 'Fruit';
--------------
SELECT carrier_name, COUNT(*) FROM shipment GROUP BY carrier_name;
--------------
SELECT transportation_mode, COUNT(DISTINCT item_type) FROM shipments GROUP BY transportation_mode;
--------------
SELECT WarehouseID, COUNT(*) as TotalLateDeliveries FROM Shipments WHERE LateDelivery = 1 AND ShippedDate >= DATEADD(month, -1, GETDATE()) AND WarehouseID IN (SELECT WarehouseID FROM Warehouses WHERE Region = 'Americas') GROUP BY WarehouseID HAVING COUNT(*) >= 25;
--------------
SELECT COUNT(*), area_sqm FROM parks WHERE state = 'New York' GROUP BY area_sqm;
--------------
SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM faculty_members WHERE faculty_department = 'School of Business')) AS percentage FROM faculty_members WHERE faculty_race = 'AAPI';
--------------
SELECT AVG(budget) FROM green_buildings WHERE building_name LIKE '%green%';
--------------
SELECT SUM(capacity) FROM wind_projects WHERE country = 'Germany';
--------------
SELECT city, project_type, SUM(investment_cost) FROM energy_efficient_lighting WHERE investment_cost > 1000000 GROUP BY city, project_type;
--------------
SELECT MAX(number) FROM mental_health_parity_violations WHERE state IN ('South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia');
--------------
SELECT city, COUNT(*) FROM asian_sites WHERE city IN ('Tokyo', 'Seoul') AND type = 'historical' GROUP BY city;
--------------
SELECT country, SUM(num_sessions) as total_sessions FROM virtual_tourism WHERE session_date >= '2023-01-01' AND session_date < '2023-04-01' GROUP BY country ORDER BY total_sessions DESC LIMIT 5;
--------------
SELECT SUM(num_engagements) FROM TourEngagements WHERE city = 'Barcelona' AND rating >= 4.5;
--------------
SELECT Artist.country_of_origin, Artwork.medium, COUNT(Artwork.artwork_id) FROM Artist INNER JOIN Artwork ON Artist.artist_id = Artwork.artist_id WHERE Artwork.genre = 'Expressionism' GROUP BY Artist.country_of_origin, Artwork.medium;
--------------
SELECT COUNT(*) FROM UNESCO_SITES WHERE region = 'Oceania';
--------------
SELECT AVG(age) FROM patients WHERE improvement = 'improved';
--------------
SELECT AVG(patients.age) FROM patients INNER JOIN treatments ON patients.patient_id = treatments.patient_id WHERE treatments.treatment_type = 'Therapy' AND patients.country = 'Canada';
--------------
INSERT INTO design_standards (id, name, version, description) VALUES (4, 'Bridge Design Standards for Earthquake Zones', 2022, 'New standards for bridge design in earthquake zones');
--------------
SELECT MAX(visitors) FROM gcnp_visitors;
--------------
SELECT SUM(revenue) FROM sustainable_tourism WHERE country IN ('New Zealand', 'Canada') AND year = 2022;
--------------
SELECT COUNT(DISTINCT service_type) FROM defendant_services;
--------------
SELECT species, AVG(depth) FROM underwater_species WHERE ocean IN ('Indian', 'Pacific') GROUP BY species;
--------------
UPDATE marine_sites SET max_depth = 3500 WHERE site_name = 'Research Site A';
--------------
SELECT country FROM CountryPollution WHERE pollution_level = (SELECT MAX(pollution_level) FROM CountryPollution WHERE region = 'Atlantic Ocean');
--------------
CREATE TABLE food_waste_tracking (waste_id INT PRIMARY KEY, waste_type VARCHAR(255), quantity INT, location VARCHAR(255));
--------------
SELECT customer_id, COUNT(*) as order_count FROM Orders WHERE order_date >= DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) GROUP BY customer_id ORDER BY order_count DESC LIMIT 10;
--------------
SELECT MAX(value) FROM contract_values WHERE contractor = 'Northrop Grumman' AND service = 'Geopolitical Risk Assessment';
--------------
SELECT AVG(productivity) FROM labor WHERE department = 'coal';
--------------
SELECT continent, avg_upload_speed, avg_upload_speed/AVG(avg_upload_speed) OVER (PARTITION BY continent) as avg_upload_speed_percentage FROM avg_upload_speed_view;
--------------
SELECT MAX(data_usage) FROM subscribers WHERE region = 'urban';
--------------
SELECT c.name AS country, COUNT(m.id) AS mobile_subscribers, COUNT(b.id) AS broadband_subscribers FROM subscribers s JOIN mobile_plans mp ON s.plan_id = mp.id JOIN broadband_plans bp ON s.plan_id = bp.id JOIN countries c ON s.country = c.name GROUP BY c.name;
--------------
SELECT city, MAX(sales) FROM Concerts;
--------------
SELECT DonorID, AVG(DonationAmount) OVER (PARTITION BY DonorID ORDER BY EXTRACT(MONTH FROM DonationDate)) AS AvgDonationPerMonth FROM DonationAmounts;
--------------
SELECT donor_id, AVG(DATEDIFF('month', MIN(donation_date), MAX(donation_date))) FROM donations GROUP BY donor_id;
--------------
SELECT Programs.ProgramName FROM Programs INNER JOIN ProgramDonations ON Programs.ProgramID = ProgramDonations.ProgramID;
--------------
SELECT c.cause_name, AVG(dam.donation_frequency) FROM philanthropy.causes c JOIN (SELECT cause_id, COUNT(*) AS donation_frequency FROM philanthropy.donation_amount_by_cause GROUP BY cause_id) dam ON c.cause_id = dam.cause_id GROUP BY c.cause_name;
--------------
SELECT MAX(PlaytimeMinutes) FROM CosmicRacersPlayers WHERE Rank IN ('Platinum', 'Gold', 'Diamond');
--------------
SELECT COUNT(DISTINCT PlayerId) FROM GamePlayer GP JOIN Player P ON GP.PlayerId = P.id WHERE GP.GameId = (SELECT G.id FROM Game G WHERE G.name = 'Fantasy') AND P.country = 'Asia';
--------------
SELECT VR_Games.GameName, Designers.DesignerName, Designers.YearsOfExperience FROM VR_Games INNER JOIN VR_GameDesign ON VR_Games.GameID = VR_GameDesign.GameID INNER JOIN Designers ON VR_GameDesign.DesignerID = Designers.DesignerID;
--------------
SELECT country, COUNT(*) as total_analysis FROM satellite_image_analysis WHERE analysis_date >= DATEADD(month, -1, GETDATE()) GROUP BY country ORDER BY total_analysis DESC LIMIT 3;
--------------
SELECT AVG(temperature) FROM Field1_Temperature WHERE EXTRACT(MONTH FROM measurement_time) = 7 AND EXTRACT(YEAR FROM measurement_time) IN (2021, 2022);
--------------
SELECT ct.crop_type, MAX(ct.temperature) AS max_temperature, MAX(ch.humidity) AS max_humidity FROM crop_temperature ct INNER JOIN crop_humidity ch ON ct.crop_type = ch.crop_type WHERE ct.timestamp >= DATEADD(month, -1, CURRENT_TIMESTAMP) GROUP BY ct.crop_type;
--------------
SELECT SUM(count) FROM Deliveries WHERE quarter = 2 AND region = 'North';
--------------
SELECT MIN(amount) FROM Budget WHERE department = 'Education' AND year = 2022;
--------------
SELECT element, MIN(quantity) FROM production WHERE year = 2019 GROUP BY element;
--------------
SELECT co_owners.name, properties.address FROM co_owners INNER JOIN properties ON co_owners.property_id = properties.id WHERE co_owners.city IN ('Portland', 'Seattle');
--------------
SELECT COUNT(*) FROM carbon_offset_programs WHERE program_location LIKE 'Asia%' AND program_start_date >= '2020-01-01' AND program_start_date < '2021-01-01';
--------------
SELECT AVG(rating) FROM projects WHERE location = 'Germany';
--------------
SELECT project_name FROM renewable_projects WHERE location IN ('US', 'Canada');
--------------
SELECT menu_item_id, SUM(quantity_sold) as total_quantity_sold FROM MenuSales WHERE sale_date >= DATEADD(month, -1, GETDATE()) GROUP BY menu_item_id ORDER BY total_quantity_sold ASC;
--------------
SELECT source, type, COUNT(*) as debris_count, AVG(DATEDIFF('year', launch_date, '2022-01-01')) as avg_years_in_orbit FROM space_debris GROUP BY source, type;
--------------
SELECT COUNT(*) FROM SpaceMissions WHERE end_date < '2010-01-01' AND status = 'Success';
--------------
SELECT SUM(Mass) FROM Spacecraft WHERE Manufacturer = 'SpaceX';
--------------
SELECT gender, COUNT(*) FROM fan_demographics GROUP BY gender;
--------------
SELECT COUNT(*) FROM security_incidents si JOIN users u ON si.user_id = u.user_id WHERE incident_date >= DATEADD(year, -1, GETDATE()) AND u.department_size > 50;
--------------
SELECT AVG(speed) FROM taxi_speeds WHERE taxi_type = 'Autonomous' AND city = 'New York' AND date >= DATEADD(day, -7, CURRENT_DATE);
--------------
SELECT SUM(claim_amount) FROM claims WHERE policyholder_state IN ('Utah', 'Idaho');
--------------
SELECT Underwriters.UnderwriterID, SUM(Claims.Amount) AS TotalClaimAmount FROM Underwriters INNER JOIN Claims ON Underwriters.UnderwriterID = Claims.UnderwriterID WHERE Underwriters.Region = 'Midwest' GROUP BY Underwriters.UnderwriterID ORDER BY TotalClaimAmount DESC LIMIT 3;
--------------
SELECT w.region, (COUNT(CASE WHEN i.injury_count = 0 THEN 1 END) / COUNT(w.id)) * 100 AS pct_no_injuries FROM workplaces w LEFT JOIN injuries i ON w.id = i.workplace_id GROUP BY w.region;
--------------
DELETE FROM VehicleSafetyTesting WHERE release_year < 2010;
--------------
SELECT AVG(speed) FROM vessels WHERE port_id IN (SELECT id FROM ports WHERE country = 'USA' AND name IN ('New York', 'Savannah', 'Norfolk')) AND EXTRACT(MONTH FROM arrival_date) = 7;
--------------
SELECT vessel_id, SUM(amount) FROM regulatory_compliance GROUP BY vessel_id;
--------------
SELECT country, AVG(recycling_rate) FROM RecyclingRatesOceania WHERE year = 2021 AND country IN ('Australia', 'New Zealand') GROUP BY country;
--------------
SELECT researcher_name FROM safety_research ORDER BY contributions DESC LIMIT 3;
--------------
SELECT SUM(cost) FROM infrastructure_projects WHERE country = 'India' AND completion_year IN (2021, 2022);
--------------
SELECT community_type, SUM(investment) FROM rural_infrastructure_projects WHERE country = 'United States' AND community_type = 'Latinx' GROUP BY community_type;
--------------
SELECT project, budget FROM (SELECT project, budget, ROW_NUMBER() OVER (ORDER BY budget DESC) as rn FROM innovation_projects WHERE country = 'Indonesia') t WHERE rn <= 5;
--------------
SELECT farm_id, SUM(weight) OVER (PARTITION BY farm_id ORDER BY date) biomass FROM FishBiomass WHERE farm_id = 2;
--------------
SELECT MAX(donation_amount) FROM dance_sponsors;
--------------
SELECT AVG(DonationAmount) FROM Donors WHERE DonationDate BETWEEN '2021-04-01' AND '2021-06-30' AND DonorID NOT IN (SELECT DonorID FROM Donors GROUP BY DonorID HAVING COUNT(*) > 1);
--------------
SELECT SUM(cost) FROM Projects WHERE state = 'Texas' AND is_sustainable = true AND project_date BETWEEN '2022-04-01' AND '2022-06-30';
--------------
SELECT COUNT(*) FROM cases WHERE attorney = 'Rodriguez' AND state = 'Texas' AND outcome = 'won' AND YEAR(date) = 2020;
--------------
DELETE FROM waste_production WHERE region = 'Antarctica' AND EXTRACT(MONTH FROM date) = 1 AND EXTRACT(YEAR FROM date) = 2022;
--------------
SELECT AVG(emissions) FROM factories WHERE location = 'California';
--------------
SELECT Protocol FROM Plant_A_Safety_Protocols EXCEPT (SELECT Protocol FROM Plant_B_Safety_Protocols INTERSECT SELECT Protocol FROM Plant_C_Safety_Protocols) EXCEPT (SELECT Protocol FROM Plant_C_Safety_Protocols EXCEPT SELECT Protocol FROM Plant_B_Safety_Protocols INTERSECT SELECT Protocol FROM Plant_A_Safety_Protocols);
--------------
SELECT finance_type, SUM(amount) FROM climate_finance WHERE project_location = 'Africa' AND finance_year BETWEEN 2015 AND 2020 GROUP BY finance_type;
--------------
SELECT city FROM Finance WHERE avg_temp > (SELECT avg_temp FROM Mitigation WHERE city = Finance.city);
--------------
SELECT AVG(LifeExpectancy) FROM Countries WHERE Continent = 'Africa';
--------------
INSERT INTO student_disability (id, student_name, disability_type, accommodation_provided) VALUES (3, 'Bob Johnson', 'Mobility Impairment', 'Jumping Jacket');
--------------
UPDATE climate_change SET avg_temp_celsius = avg_temp_celsius - 5 WHERE region = 'Arctic Ocean';
--------------
SELECT * FROM transactions WHERE user_address = '0x456...';
--------------
SELECT name FROM regulatory_frameworks WHERE country_id = (SELECT id FROM countries WHERE name = 'Country1');
--------------
SELECT 'Total Organic' AS metric, COUNT(*) AS count FROM products_organic WHERE organic = true UNION ALL SELECT 'Total Non-Organic' AS metric, COUNT(*) AS count FROM products_organic WHERE organic = false;
--------------
SELECT AVG(price) FROM cosmetics WHERE is_vegan = TRUE AND country = 'US';
--------------
SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM lipsticks)) AS percentage FROM lipsticks WHERE is_vegan = TRUE AND is_gluten_free = TRUE;
--------------
SELECT (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM haircare_sales WHERE country = 'France' AND sale_date BETWEEN '2021-07-01' AND '2021-09-30' AND is_sustainable = true)) AS percentage FROM haircare_sales WHERE country = 'France' AND sale_date BETWEEN '2021-07-01' AND '2021-09-30' AND is_sustainable = true;
--------------
SELECT b.brand_name, MAX(p.rating) as max_rating FROM brands b JOIN products p ON b.brand_id = p.brand_id WHERE p.is_cruelty_free = TRUE GROUP BY b.brand_name;
--------------
SELECT name, AVG(crime_count/population) FROM neighborhoods GROUP BY name;
--------------
SELECT cd.community_name, ct.crime_type, AVG(cd.response_time) as avg_response_time FROM community_districts cd JOIN crime_data cd ON cd.cd_number = cd.cd_number JOIN (SELECT crime_type, cd_number, COUNT(*) as count FROM crime_data WHERE crime_date >= CURDATE() - INTERVAL 1 MONTH GROUP BY crime_type, cd_number ORDER BY count DESC LIMIT 5) ct ON cd.cd_number = ct.cd_number GROUP BY cd.community_name, ct.crime_type;
--------------
SELECT maintenance_cost(maintenance_cost) FROM equipment_maintenance WHERE equipment_type = 'Type A' AND maintenance_date BETWEEN '2022-01-01' AND '2022-12-31' INTERSECT SELECT maintenance_cost(maintenance_cost) FROM equipment_maintenance WHERE equipment_type = 'Type B' AND maintenance_date BETWEEN '2022-01-01' AND '2022-12-31';
--------------
SELECT event FROM defense_diplomacy WHERE country1 = 'China' AND country2 = 'India' AND year BETWEEN 2005 AND 2010;
--------------
SELECT SUM(capacity) FROM vessels WHERE registry = 'Hong Kong';
--------------
SELECT name FROM suppliers WHERE country = 'Germany';
--------------
SELECT tech_name, capabilities FROM military_tech WHERE region = 'North America';
--------------
DELETE FROM music_genres WHERE genre = 'Hip-Hop' AND YEAR(event_date) = 2019;
--------------
SELECT AVG(song_length) FROM songs JOIN artists ON songs.artist_id = artists.artist_id WHERE artists.country = 'United States';
--------------
SELECT COUNT(*) FROM (SELECT DonorID FROM Donations WHERE Amount > 100 GROUP BY DonorID HAVING COUNT(*) > 1);
--------------
SELECT AVG(DonationAmount) FROM Donations WHERE DonorName LIKE 'S%';
--------------
SELECT AVG(donation_amount) FROM Donations d JOIN Donors don ON d.donor_id = don.donor_id WHERE program_id IN (SELECT program_id FROM Programs WHERE category = 'health') AND YEAR(donation_date) = 2022 AND QUARTER(donation_date) = 2 AND donor_id NOT IN (SELECT donor_id FROM Donors WHERE last_donation_date < donation_date);
--------------
SELECT student_id, course_id, COUNT(course_id) OVER (PARTITION BY student_id ORDER BY completion_date) as completed_courses FROM lifelong_learning WHERE student_id = 2;
--------------
SELECT Name FROM TopTeachers;
--------------

In [ ]:
references

["SELECT MAX(billing_amount) FROM cases JOIN attorneys ON cases.attorney_id = attorneys.attorney_id WHERE attorneys.state = 'NY' AND attorneys.win_rate > 0.8 AND cases.case_outcome = 'Won';",
 "SELECT country, emissions FROM emissions WHERE country NOT IN ('US') ORDER BY emissions DESC LIMIT 3;",
 'SELECT State, COUNT(*) FROM Hospitals WHERE MentalHealth = TRUE GROUP BY State;',
 'SELECT AVG(raised_amount) as avg_investment_per_round FROM investments JOIN diversity ON investments.company_id = diversity.company_id WHERE diversity.latinx_founder = true;',
 "SELECT COUNT(*) FROM accommodations WHERE accommodation_category = 'Online Learning';",
 "DELETE FROM CoralReefs WHERE Health_Status = 'Degraded';",
 "SELECT MIN(Daily_Transactions) AS Min_Transactions FROM Smart_Contracts JOIN Digital_Assets ON Smart_Contracts.Asset_ID = Digital_Assets.Asset_ID WHERE Issuer_Country IN ('Egypt', 'Nigeria', 'South Africa', 'Kenya');",
 "SELECT status FROM regulation WHERE country = 'germany';",
 'SELECT SUM(market_cap) AS total_market_cap FROM digital_assets WHERE asset_id IN (SELECT asset_id FROM transactions GROUP BY asset_id HAVING COUNT(*) >= 1000);',
 "SELECT AVG(training_count/1.0) FROM DisasterPreparedness WHERE state = 'California' GROUP BY year;",
 'SELECT artist_name, museum_name, SUM(quantity) FROM MuseumArtists GROUP BY artist_name, museum_name;',
 "SELECT avg_attendance FROM concerts WHERE genre = 'Jazz';",
 "INSERT INTO veteran_employment (veteran_id, name) VALUES (888, 'James Smith');",
 "UPDATE threat_intelligence SET threat_level = 'medium' WHERE threat_source = 'United Nations' AND threat_date < '2022-01-01';",
 "SELECT employee_id FROM employee_skills WHERE skill_name = 'sustainable_manufacturing' AND experience_years > 2;",
 'SELECT site_name, SUM(total_artifacts) FROM excavation_sites WHERE year = 2020 GROUP BY site_name;',
 "SELECT name FROM hospitals WHERE region = 'Northeast' ORDER BY patient_capacity ASC LIMIT 1;",
 "INSERT INTO open_pedagogy_resources (resource_name, topic) VALUES ('Critical Thinking in Math Education', 'Mathematics Education');",
 'SELECT Department FROM Employees GROUP BY Department HAVING COUNT(DISTINCT EmployeeID) > 1;',
 'SELECT HireYear, Department, COUNT(*) OVER (PARTITION BY HireYear ORDER BY HireYear) AS Running_Total FROM Hiring;',
 'SELECT sector, (SUM(efficiency) / (SELECT SUM(efficiency) FROM energy_efficiency WHERE year = 2015 AND sector = e.sector) * 100.0) - 100.0 AS improvement FROM energy_efficiency e WHERE year = 2020 GROUP BY sector;',
 "SELECT SUM(capacity) FROM windfarm WHERE country IN ('Germany', 'France');",
 "INSERT INTO basketball_players (player_id, player_name, position, team, country) VALUES (1, 'Marta Santiago', 'Point Guard', 'Barcelona Basquet', 'Spain');",
 "SELECT AVG(item_count) FROM items_delivered WHERE EXTRACT(QUARTER FROM delivery_date) = 3 AND country = 'South America';",
 "DELETE FROM accessibility_features WHERE feature_type = 'Voice Command' AND status = 'Discontinued';",
 'SELECT year, company, COUNT(*) as num_patents FROM ai_patents GROUP BY year, company ORDER BY year;',
 "UPDATE EthicalAIPractices SET StartDate = '2023-01-01' WHERE Project = 'AI for Children';",
 'SELECT AVG(COUNT(*)) FROM digital_divide_projects GROUP BY completion_year;',
 "SELECT SUM(budget) FROM accessible_tech WHERE sector = 'education';",
 "SELECT SUM(bt.fare) FROM bus_trips bt JOIN bus_routes br ON bt.route_id = br.route_id WHERE br.starting_letter = 'B';",
 'SELECT Brand_ID, DATEDIFF(DAY, Last_Usage_Date, GETDATE()) as Days_Since_Last_Usage FROM Brand_Sustainable_Material_Last_Usage WHERE Last_Usage_Date IS NOT NULL;',
 'SELECT region, violations FROM labor_practices_violations GROUP BY region;',
 'SELECT name, country, SUM(spend) as total_spend FROM african_consumers GROUP BY country ORDER BY total_spend DESC LIMIT 1;',
 'SELECT country, COUNT(*) as num_sustainable_manufacturers FROM ManufacturerLabor WHERE has_sustainable_labor = true GROUP BY country ORDER BY num_sustainable_manufacturers DESC;',
 "SELECT COUNT(*) FROM sales WHERE size = '2XL' AND date >= '2022-07-01' AND date <= '2022-07-31';",
 "SELECT SUM(amount) FROM donations WHERE donor = 'Aisha' AND donation_date BETWEEN '2021-01-01' AND '2021-12-31';",
 'SELECT COUNT(*) as TotalTransactions FROM FinancialTransactions INNER JOIN Volunteers ON FinancialTransactions.VolunteerID = Volunteers.VolunteerID;',
 "UPDATE OrganicProducts SET name = 'Eco-friendly Product2' WHERE id = 2;",
 "SELECT COUNT(*) FROM Inventory WHERE is_organic = TRUE AND category = 'Fruit';",
 'SELECT carrier_name, COUNT(*) as count FROM shipment GROUP BY carrier_name;',
 'SELECT transportation_mode, COUNT(DISTINCT item_type) as unique_item_types FROM shipments GROUP BY transportation_mode;',
 "SELECT w.WarehouseName, COUNT(s.ShipmentID) as LateDeliveries FROM Warehouses w INNER JOIN Shipments s ON w.WarehouseID = s.WarehouseID WHERE w.Region = 'Americas' AND s.LateDelivery = 1 AND s.ShippedDate >= DATEADD(month, -1, GETDATE()) GROUP BY w.WarehouseName HAVING COUNT(s.ShipmentID) >= 25;",
 "SELECT name, state, area_sqm FROM parks WHERE state = 'New York';",
 "SELECT (COUNT(*) FILTER (WHERE faculty_race = 'AAPI')) * 100.0 / COUNT(*) FROM faculty_members WHERE faculty_department LIKE '%Business%';",
 'SELECT AVG(budget) FROM green_buildings;',
 "SELECT SUM(capacity) FROM wind_projects WHERE country = 'Germany';",
 'SELECT city, project_type, SUM(investment_cost) FROM energy_efficient_lighting GROUP BY city, project_type HAVING SUM(investment_cost) > 1000000;',
 "SELECT MAX(number) as max_violations FROM mental_health_parity_violations WHERE state IN ('Alabama', 'Georgia', 'Florida', 'North Carolina', 'South Carolina', 'Mississippi', 'Louisiana', 'Arkansas', 'Tennessee', 'Virginia', 'Kentucky');",
 "SELECT city, COUNT(*) FROM asian_sites WHERE city IN ('Tokyo', 'Seoul') AND type = 'historical' GROUP BY city;",
 "SELECT country, SUM(num_sessions) as total_sessions FROM virtual_tourism WHERE session_date BETWEEN '2023-01-01' AND '2023-03-31' GROUP BY country ORDER BY total_sessions DESC LIMIT 5;",
 "SELECT SUM(num_engagements) FROM TourEngagements WHERE city = 'Barcelona' AND rating >= 4.5;",
 "SELECT Artist.country_of_origin, Artwork.medium, COUNT(Artwork.artwork_id) FROM Artist INNER JOIN Artwork ON Artist.artist_id = Artwork.artist_id WHERE Artwork.genre = 'Expressionism' GROUP BY Artist.country_of_origin, Artwork.medium;",
 "SELECT COUNT(*) FROM UNESCO_SITES WHERE region = 'Oceania';",
 "SELECT AVG(age) FROM patients WHERE improvement = 'improved';",
 "SELECT AVG(age) FROM patients JOIN treatments ON patients.patient_id = treatments.patient_id WHERE patients.country = 'Canada' AND treatments.treatment_type = 'Therapy';",
 "INSERT INTO design_standards (id, name, version, description) VALUES (4, 'Bridge Design Standards for Earthquake Zones', 2022, 'New standards for bridge design in earthquake zones');",
 'SELECT MAX(visitors) FROM gcnp_visitors;',
 "SELECT SUM(revenue) FROM sustainable_tourism WHERE country IN ('New Zealand', 'Canada') AND year = 2022;",
 'SELECT COUNT(DISTINCT service_type) FROM defendant_services;',
 "SELECT species, AVG(depth) FROM underwater_species WHERE ocean IN ('Indian', 'Pacific') GROUP BY species;",
 "UPDATE marine_sites SET max_depth = 3500 WHERE site_name = 'Research Site A';",
 "SELECT country, pollution_level FROM CountryPollution WHERE location = 'Atlantic Ocean' AND pollution_level = (SELECT MAX(pollution_level) FROM CountryPollution WHERE location = 'Atlantic Ocean');",
 'CREATE TABLE food_waste (waste_type VARCHAR(255), quantity INT);',
 'SELECT C.name, COUNT(O.id) as order_frequency, RANK() OVER (ORDER BY COUNT(O.id) DESC) as rank FROM Customers C JOIN Orders O ON C.id = O.customer_id WHERE O.order_date >= DATEADD(day, -30, GETDATE()) GROUP BY C.id, C.name ORDER BY rank;',
 "SELECT MAX(value) FROM contract_values WHERE contractor = 'Northrop Grumman' AND service = 'Geopolitical Risk Assessment';",
 "SELECT AVG(l.productivity) AS avg_productivity FROM labor l WHERE l.department = 'coal';",
 'SELECT continent, avg_upload_speed, avg_upload_speed/AVG(avg_upload_speed) OVER (PARTITION BY continent) as avg_upload_speed_percentage FROM avg_upload_speed_view;',
 "SELECT MAX(data_usage) FROM subscribers WHERE region = 'urban';",
 'SELECT countries.name AS country, COUNT(*) FROM subscribers JOIN mobile_plans ON subscribers.plan_id = mobile_plans.id JOIN broadband_plans ON subscribers.plan_id = broadband_plans.id JOIN countries ON subscribers.country = countries.id GROUP BY countries.name;',
 'SELECT city, MAX(sales) as max_sales FROM Concerts;',
 'SELECT DonorID, AVG(DonationAmount) OVER (PARTITION BY DonorID, EXTRACT(MONTH FROM DonationDate)) AS AvgDonationPerMonth FROM DonationAmounts WHERE EXTRACT(YEAR FROM DonationDate) = 2021 ORDER BY DonorID, DonationDate;',
 "SELECT donor_id, AVG(COUNT(donation_id)) as avg_donations_per_month FROM donations GROUP BY donor_id, DATE_FORMAT(donation_date, '%Y-%m') WITH ROLLUP;",
 'SELECT DISTINCT ProgramName FROM ProgramDonations;',
 'SELECT c.cause_name, AVG(dam.donation_frequency) FROM philanthropy.causes c JOIN (SELECT cause_id, COUNT(*) AS donation_frequency FROM philanthropy.donation_amount_by_cause GROUP BY cause_id) dam ON c.cause_id = dam.cause_id GROUP BY c.cause_name;',
 "SELECT MAX(PlaytimeMinutes) FROM CosmicRacersPlayers WHERE Rank IN ('Platinum', 'Diamond');",
 "SELECT COUNT(DISTINCT PlayerId) FROM GamePlayer GP JOIN Player P ON GP.PlayerId = P.id WHERE GP.GameId = (SELECT G.id FROM Game G WHERE G.name = 'Fantasy') AND P.country = 'Asia';",
 'SELECT VR_Games.GameName, Designers.DesignerName, Designers.YearsOfExperience FROM VR_Games INNER JOIN VR_GameDesign ON VR_Games.GameID = VR_GameDesign.GameID INNER JOIN Designers ON VR_GameDesign.DesignerID = Designers.DesignerID;',
 'SELECT country, COUNT(*) as analysis_count FROM satellite_image_analysis WHERE analysis_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH) GROUP BY country ORDER BY analysis_count DESC LIMIT 3;',
 'SELECT AVG(temperature) FROM (SELECT temperature FROM Field1_Temperature WHERE EXTRACT(MONTH FROM measurement_time) = 7 AND EXTRACT(YEAR FROM measurement_time) IN (2021, 2022) GROUP BY sensor_id, EXTRACT(DAY FROM measurement_time)) t',
 'SELECT ct.crop_type, MAX(ct.temperature) as max_temp, MAX(ch.humidity) as max_humidity FROM crop_temperature ct JOIN crop_humidity ch ON ct.timestamp = ch.timestamp WHERE ct.timestamp BETWEEN DATEADD(month, -1, CURRENT_TIMESTAMP) AND CURRENT_TIMESTAMP GROUP BY ct.crop_type;',
 "SELECT SUM(count) FROM Deliveries WHERE quarter = 2 AND region = 'North';",
 "SELECT MIN(amount) FROM Budget WHERE department = 'Education' AND year = 2022;",
 'SELECT element, MIN(quantity) FROM production WHERE year = 2019 GROUP BY element;',
 "SELECT co_owners.name, properties.address FROM co_owners INNER JOIN properties ON co_owners.property_id = properties.id WHERE co_owners.city IN ('Portland', 'Seattle');",
 "SELECT program_location, COUNT(*) as num_programs FROM carbon_offset_programs WHERE program_start_date BETWEEN '2020-01-01' AND '2020-12-31' AND program_location LIKE 'Asia%' GROUP BY program_location;",
 "SELECT AVG(rating) FROM projects WHERE location = 'Germany';",
 "SELECT project_name FROM renewable_projects WHERE location IN ('US', 'Canada');",
 'SELECT menu_item_id, SUM(quantity_sold) as total_quantity_sold FROM menusales WHERE sale_date BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH) AND CURRENT_DATE GROUP BY menu_item_id ORDER BY total_quantity_sold ASC;',
 'SELECT source, COUNT(id) as count, AVG(DATEDIFF(CURDATE(), launch_date)) as avg_years_in_orbit FROM space_debris GROUP BY source;',
 "SELECT COUNT(*) FROM SpaceMissions WHERE status = 'Success' AND start_date < '2010-01-01';",
 "SELECT SUM(Mass) FROM Spacecraft WHERE Manufacturer = 'SpaceX';",
 'SELECT gender, COUNT(*) FROM fan_demographics GROUP BY gender;',
 'SELECT COUNT(*) FROM security_incidents si JOIN users u ON si.user_id = u.user_id WHERE incident_date >= DATE_SUB(CURRENT_DATE, INTERVAL 1 YEAR) AND u.department_size > 50;',
 "SELECT DATE(date) as trip_date, AVG(speed) as avg_speed FROM taxi_speeds WHERE taxi_type = 'Autonomous' AND city = 'New York' AND date BETWEEN DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND CURDATE() GROUP BY trip_date ORDER BY trip_date;",
 "SELECT SUM(claim_amount) FROM claims WHERE policyholder_state IN ('Utah', 'Idaho');",
 "SELECT Underwriters.UnderwriterID, Underwriters.Region, SUM(Claims.Amount) AS TotalClaimAmount FROM Claims INNER JOIN Underwriters ON Claims.UnderwriterID = Underwriters.UnderwriterID WHERE Underwriters.Region = 'Midwest' GROUP BY Underwriters.UnderwriterID, Underwriters.Region ORDER BY TotalClaimAmount DESC LIMIT 3;",
 'SELECT w.region, 100.0 * AVG(CASE WHEN i.injury_count = 0 THEN 1 ELSE 0 END) as pct_no_injuries FROM workplaces w LEFT JOIN injuries i ON w.id = i.workplace_id GROUP BY w.region;',
 'DELETE FROM VehicleSafetyTesting WHERE release_year < 2010;',
 "SELECT AVG(speed) FROM vessels WHERE port_id IN (SELECT id FROM ports WHERE country = 'USA' AND name IN ('New York', 'Savannah', 'Norfolk')) AND EXTRACT(MONTH FROM arrival_date) = 7;",
 'SELECT vessel_id, SUM(amount) FROM regulatory_compliance GROUP BY vessel_id;',
 'SELECT country, AVG(recycling_rate) FROM RecyclingRatesOceania WHERE year = 2021 GROUP BY country;',
 'SELECT researcher_name FROM safety_research ORDER BY contributions DESC LIMIT 3;',
 "SELECT SUM(cost) FROM infrastructure_projects WHERE country = 'India' AND completion_year BETWEEN 2021 AND 2022;",
 "SELECT country, SUM(investment) FROM rural_infrastructure_projects WHERE community_type = 'Latinx' GROUP BY country;",
 "SELECT project_id, budget FROM innovation_projects WHERE country = 'Indonesia' GROUP BY project_id ORDER BY budget DESC LIMIT 5;",
 'SELECT farm_id, SUM(weight) over (partition by farm_id order by date) biomass FROM FishBiomass WHERE farm_id = 2;',
 'SELECT MAX(donation_amount) FROM dance_sponsors;',
 "SELECT AVG(DonationAmount) FROM (SELECT DonationAmount FROM Donors WHERE DonationDate BETWEEN '2021-04-01' AND '2021-06-30' AND DonorID NOT IN (SELECT DonorID FROM Donors WHERE DonationDate < '2021-04-01')) AS NewDonors;",
 "SELECT SUM(cost) FROM Projects WHERE state = 'Texas' AND is_sustainable = true AND QUARTER(start_date) = 2 AND YEAR(start_date) = 2022 GROUP BY state;",
 "SELECT COUNT(*) FROM cases WHERE attorney = 'Rodriguez' AND state = 'Texas' AND outcome = 'won' AND date BETWEEN '2020-01-01' AND '2020-12-31';",
 "DELETE FROM waste_production WHERE region = 'Antarctica' AND date = '2022-01-01';",
 "SELECT AVG(f.emissions) FROM factories f WHERE f.location = 'California';",
 '(SELECT Protocol FROM Plant_A_Safety_Protocols EXCEPT SELECT Protocol FROM Plant_B_Safety_Protocols) UNION (SELECT Protocol FROM Plant_B_Safety_Protocols EXCEPT SELECT Protocol FROM Plant_C_Safety_Protocols) UNION (SELECT Protocol FROM Plant_C_Safety_Protocols EXCEPT SELECT Protocol FROM Plant_A_Safety_Protocols);',
 "SELECT finance_type, SUM(amount) FROM climate_finance WHERE project_location = 'Africa' AND finance_year BETWEEN 2015 AND 2020 GROUP BY finance_type;",
 'SELECT Finance.city FROM Finance, Mitigation WHERE Finance.city = Mitigation.city AND Finance.avg_temp > Mitigation.avg_temp',
 "SELECT AVG(LifeExpectancy) FROM Countries WHERE Continent = 'Africa';",
 "INSERT INTO student_disability (id, student_name, disability_type, accommodation_provided) VALUES (3, 'Jim Brown', 'Mobility Impairment', 'Wheelchair Access'), (4, 'Jake White', 'Learning Disability', 'Extra Time for Exams');",
 "UPDATE climate_change SET avg_temp_celsius = avg_temp_celsius - 0.2, avg_temp_fahrenheit = avg_temp_fahrenheit - 0.36 WHERE region = 'Arctic Ocean';",
 "SELECT hash, value, timestamp FROM transactions WHERE user_address = '0x456...';",
 "SELECT name FROM regulatory_frameworks WHERE country_id = (SELECT id FROM countries WHERE name = 'Country1');",
 'SELECT organic, COUNT(*) FROM products_organic GROUP BY organic;',
 "SELECT AVG(price) FROM cosmetics WHERE is_vegan = TRUE AND country = 'USA';",
 'SELECT (COUNT(*) FILTER (WHERE is_vegan = TRUE AND is_gluten_free = TRUE)) * 100.0 / COUNT(*) FROM lipsticks;',
 "SELECT ROUND((SUM(CASE WHEN is_sustainable = true THEN sale_quantity ELSE 0 END) / SUM(sale_quantity)) * 100, 2) FROM haircare_sales WHERE sale_date BETWEEN '2021-07-01' AND '2021-09-30' AND country = 'France';",
 'SELECT b.brand_name, AVG(p.rating) as avg_rating FROM brands b INNER JOIN products p ON b.brand_id = p.brand_id WHERE p.is_cruelty_free = TRUE GROUP BY b.brand_name ORDER BY avg_rating DESC;',
 'SELECT name, AVG(crime_count/population) OVER (PARTITION BY name) FROM neighborhoods;',
 'SELECT cd.community_name, ct.crime_type, AVG(cd.response_time) as avg_response_time FROM community_districts cd JOIN crime_data cd ON cd.cd_number = cd.cd_number JOIN (SELECT crime_type, cd_number, COUNT(*) as count FROM crime_data WHERE crime_date >= CURDATE() - INTERVAL 1 MONTH GROUP BY crime_type, cd_number ORDER BY count DESC LIMIT 5) ct ON cd.cd_number = ct.cd_number WHERE cd.crime_date >= CURDATE() - INTERVAL 1 MONTH GROUP BY cd.community_name, ct.crime_type;',
 "SELECT (SUM(CASE WHEN equipment_type = 'Type A' THEN maintenance_cost ELSE 0 END) - SUM(CASE WHEN equipment_type = 'Type B' THEN maintenance_cost ELSE 0 END))/10000 FROM equipment_maintenance WHERE EXTRACT(YEAR FROM maintenance_date) = 2022;",
 "SELECT * FROM defense_diplomacy WHERE (country1 = 'China' AND country2 = 'India') OR (country1 = 'India' AND country2 = 'China') AND year BETWEEN 2005 AND 2010;",
 "SELECT SUM(capacity) FROM vessels WHERE registry = 'Hong Kong';",
 "SELECT name FROM suppliers WHERE country = 'Germany';",
 "SELECT tech_name, capabilities FROM military_tech WHERE region = 'North America';",
 "DELETE FROM music_genres WHERE genre = 'Hip-Hop' AND YEAR(event_date) = 2019;",
 "SELECT AVG(song_length) FROM songs INNER JOIN artists ON songs.artist_id = artists.artist_id WHERE artists.country = 'United States';",
 'SELECT COUNT(*) FROM Donations WHERE Amount > 100;',
 "SELECT AVG(DonationAmount) FROM Donations WHERE DonorName LIKE 'S%';",
 "SELECT AVG(donation_amount) FROM Donations d JOIN Donors don ON d.donor_id = don.donor_id WHERE program_id IN (SELECT program_id FROM Programs WHERE category = 'health') AND donor_id IN (SELECT donor_id FROM Donors WHERE YEAR(first_donation_date) = 2022 AND first_donation_date BETWEEN '2022-04-01' AND '2022-06-30' GROUP BY donor_id HAVING COUNT(*) = 1);",
 'SELECT student_id, course_id, COUNT(course_id) OVER (PARTITION BY student_id ORDER BY completion_date) as completed_courses FROM lifelong_learning WHERE student_id = 2;',
 'SELECT Name FROM TopTeachers;',
 'SELECT district_id, AVG(mental_health_score) as avg_score FROM student_mental_health GROUP BY district_id ORDER BY avg_score DESC;',
 'SELECT SUM(Salary) FROM Employees;',
 "INSERT INTO energy_storage (id, region, year, capacity) VALUES (3, 'Sao Paulo', 2027, 9000);",
 "SELECT country, SUM(generation) as total_generation FROM energy_generation WHERE country IN ('Kenya', 'Nigeria', 'South Africa') AND generation_date >= '2021-01-01' AND generation_date < '2021-04-01' AND source_type IN ('Solar', 'Wind') GROUP BY country;",
 "SELECT SUM(CASE WHEN region IN ('Permian Basin', 'Marcellus Shale') AND well_type = 'Gas' AND status = 'Producing' THEN 1 ELSE 0 END) as producing_gas_wells FROM wells;",
 'SELECT team_id, AVG(won) * 100.0 / (SELECT COUNT(*) FROM games WHERE team_id = teams.team_id) AS win_percentage FROM games JOIN teams ON games.team_id = teams.team_id WHERE season_id = (SELECT MAX(season_id) FROM teams) GROUP BY team_id ORDER BY win_percentage DESC LIMIT 1;',
 'SELECT name, MAX(home_runs) FROM baseball_stats;',
 "SELECT SUM(Funding.amount) FROM Funding INNER JOIN Organization ON Funding.organization_id = Organization.id WHERE Organization.country = 'India';",
 'SELECT MAX(fare) FROM urban.trams WHERE fare > 2;',
 "SELECT revenue FROM routes WHERE route_name = 'Red Line';",

In [ ]:
import evaluate

In [ ]:
# Tính BLEU
bleu = evaluate.load("bleu")
results = bleu.compute(predictions=extracted_sqls_with_context, references=references)

print(results)

Downloading builder script:   0%|          | 0.00/5.94k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/1.55k [00:00<?, ?B/s]

Downloading extra modules:   0%|          | 0.00/3.34k [00:00<?, ?B/s]

{'bleu': 0.7024396808185429, 'precisions': [0.8420181664398926, 0.7422860949842962, 0.6769394680767106, 0.6196219769418221], 'brevity_penalty': 0.9816726196522841, 'length_ratio': 0.9818385326400925, 'translation_length': 54386, 'reference_length': 55392}